// encabezado
$top: #fff


// menu lateral
$side: #000
$sidenavlines: #3e3e3e
$hoverside: #6f8d9d
$hoversidetxt: #fff

// icons
$icons: #1fae9c

// User name
$username: #fff
$usernamehover: #ccc
$usernametxthover: #000
$usernamehover: #ccc

// User dropdown text
$userddhover: $hoverside
$userdd: #fff
$userddtxthover: #fff
