// encabezado
$top: #73525a

// side
$side: #52736b
$sideimg: url(../skin/body/side.jpg)
$sidenavlines: #5E806F
$hoverside: #5E806F
$hoversidetxt: #fff

// icons
$icons: #cbd5d2

// User name
$username: #fff
$usernamehover: #ccc
$usernametxthover: #000
$usernamehover: #ccc

// User dropdown text
$userddhover: $hoverside
$userdd: #fff
$userddtxthover: #fff

// Item creation Window
$additemtit: #3d515c