// Items (Products, articles, people, etc.)

// Filters
.filterdiv
    width: auto
    background-color: #d7d7e0
    border: 1px solid #ccc
    // text-align: center
    padding-bottom: 5px
.filterformdiv
    margin-left: 10px
    padding-top: 15px
    
.filtertit
    margin-right: 15px
    
.form-controlit
    display: block
    width: 100%
    height: 34px
    padding: 6px 12px
    font-size: 14px
    line-height: 1.42857
    max-width: 250px
    color: #555
    background-color: #FFF
    background-image: none
    border: 1px solid #CCC
    border-radius: 4px
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s
    display: inline 
option
    padding-left: 15px 
option
    padding-left: 15px 

.inputsgral
    padding: 0 5px
        
// Add Item Button
.additembtn
    color: #FFFFFF
    background-color: #457C99
    transition: 0.5s
 
.additembtn:hover, 
.additembtn:focus, 
.additembtn:active, 
.additembtn.active, 
.open .dropdown-toggle.additembtn
    color: #FFFFFF
    background-color: #77668F
    
.additembtn:active,
.additembtn.active,
.open .dropdown-toggle.additembtn
    background-image: none 

    
// Add Item Button
@media(max-width:768px)
    .itemsearchbtn
        margin-top: 15px
        margin-left: 0
    
.itemsearchbtn
    color: #FFFFFF
    background-color: #457C99
    transition: 0.5s
    margin-left: 10px
 
.itemsearchbtn:hover, 
.itemsearchbtn:focus, 
.itemsearchbtn:active, 
.itemsearchbtn.active, 
.open .dropdown-toggle.itemsearchbtn
    color: #FFFFFF
    background-color: #77668F
    
.itemsearchbtn:active,
.itemsearchbtn.active,
.open .dropdown-toggle.itemsearchbtn
    background-image: none 
    

// Item (Square)

.p1gral
    background-color: #fff
    width: 250px
    text-align: center
    margin: 20px 10px
    padding: 0
    -webkit-box-shadow: 11px 16px 43px -41px rgba(0,0,0,0.99)
    -moz-box-shadow: 11px 16px 43px -41px rgba(0,0,0,0.99)
    box-shadow: 11px 16px 43px -41px rgba(0,0,0,0.99)
    
.itemdiv
    background-color: #fff
    width: 250px
    text-align: center
    margin: 20px 10px
    padding: 0
    -webkit-box-shadow: 11px 16px 43px -41px rgba(0,0,0,0.99)
    -moz-box-shadow: 11px 16px 43px -41px rgba(0,0,0,0.99)
    box-shadow: 11px 16px 43px -41px rgba(0,0,0,0.99)
    padding: 0

.card
    height: 300px
    overflow: hidden
    position: relative
    height: 250px
    overflow: hidden
    position: relative 
.card_content
    background-color: rgba(255,255,255,0.5)
    padding: 10px
    position: absolute
    bottom: -280px
    width: 250px
    transition: all 0.5s ease

.card_content h3
    font-size: 1.5em
    margin-bottom: 0.5em 
.card:hover .card_content
    background-color: #fff
    bottom: 0 
.card1:hover .card_content
    background-color: #fff
    bottom: 0 



.itemtit
    margin: 15px 0 0 
.itemtxt
    text-align: center
.itemrow2
    padding: 0 10px
.itemtxtcolor
    font-size: 12px

// Icons (Del and modify)
.prodicos ul
    list-style-type: none
    text-align: center 
.prodicos li
    display: inline
    text-align: center
    margin: 0 15px 
.itemicos
    background-color: transparent
    
.itemicos
    ul
        list-style-type: none
        text-align: center 
.itemicos
    li
        display: inline
        text-align: center
        margin: 0 15px
    
.prodicoadd
    ul
        margin-left: -25px
        border: 1px solid blue 

.prodfilediv
    background-color: #fff
    padding: 30px 20px 0 20px
    margin-bottom: 25px
    padding: 10px
    padding-left: 0 
.prodfileimg
    width: 100px
    height: 100px
    max-height: 100%
    max-width: 100%
    margin: 0 auto
    -webkit-box-shadow: 0 12px 12px rgba(0,0,0,.175)
    box-shadow: 0 6px 6px rgba(0,0,0,.175)
    -webkit-transition: all 0.5s ease 0s
    transition: all 0.5s ease 0s 
.prodfileimg:hover
    box-shadow: none 
.colprod
    margin-top: 10px 
.colprodtit
    margin-top: 10px
    text-align: center 
.colprod1
    margin-top: 10px
    text-align: center 
.colprodico
    margin-top: 25px

// Item Creation Window

.additemdiv
    max-width: 600px
    background-color: #fff
    background-image: url(../skin/body/imgboxes.jpg)
    margin-top: 30px
    -webkit-box-shadow: 4px 2px 18px -6px rgba(0,0,0,0.69)
    -moz-box-shadow: 4px 2px 18px -6px rgba(0,0,0,0.69)
    box-shadow: 4px 2px 18px -6px rgba(0,0,0,0.69)
.additemtit
    text-align: center
    padding: 5px 0 10px 0
    margin-top: 5px
    margin-bottom: 30px
.additemtit h3
    color: $additemtit
        
.addprodimgdiv
    padding-top: 30px
.productimg
    padding: 20px 0
    

.form-controlitems
    display: block
    width: 100%
    height: 34px
    padding: 6px 12px
    font-size: 14px
    line-height: 1.42857
    color: #555
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s
    max-width: 100%
    border: 0
    border-bottom: 2px solid #39465B
    background-color: transparent
.textareaitemsS
    min-height: 65px