// Navegartion

.navbar-inverse .navbar-brand
    color: #fff 
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
    background-color: #2b3340 
.navbar-inverse .navbar-nav > li > a
    color: #fff 
.navbar-inverse .navbar-nav > li > a
    color: #fff 
@media(min-width:768px) 
    .side-nav
        position: fixed
        top: 51px
        left: 225px
        width: 225px
        margin-left: -225px
        border: none
        border-radius: 0
        overflow-y: auto
        background-color: #39465b
        bottom: 0
        overflow-x: hidden
        padding-bottom: 40px

.side-nav>li>a
    width: 225px 
.side-nav li a:hover,
.side-nav li a:focus
    outline: none
    background-color: #d7d7e0 !important 
.side-nav>li>ul
    padding: 0 
.side-nav>li>ul>li>a
    display: block
    padding: 10px 15px 10px 38px
    text-decoration: none
    color: #999 
.side-nav>li>ul>li>a:hover
    color: #fff 
.side-nav > li > ul li:hover a.before
    color: #fff
    background: #9A437A 
.side-nav > li > a:hover, .side-nav> li > a:focus, .side-nav > .open > a, .side-nav > .open > a:hover, .side-nav > .open > a:focus
    background-color: #d7d7e0
    color: #7a8496
#ddmenu2 li a
    padding: 10px 15px 10px 44px
    display: block
    color: #fff
    text-decoration: none 
.side-nav > li > ul > li > a
    color: #fff 
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover
    background-color: #d7d7e0
    color: #000 