// Users Admin
.userstitulo
    text-align: center

.useradd
    -webkit-transition: all 0.5s ease 0s
    transition: all 0.5s ease 0s  
.useradd:hover
    -webkit-box-shadow: 10px 10px 21px -14px rgba(0,0,0,0.75)
    -moz-box-shadow: 10px 10px 21px -14px rgba(0,0,0,0.75)
    box-shadow: 10px 10px 21px -14px rgba(0,0,0,0.75) 
.usergral
    max-width: 220px
    padding-top: 20px
    margin: 20px 10px 
.usimg
    border-radius: 100%
    max-width: 150px
    cursor: pointer
    margin: 0 auto 
.usernamediv
    text-align: center
    margin-top: 15px 
.usernamediv a
    color: #fff
    text-decoration: none 
.usernamediv a
    color: #fff
.addusertxt p
    color: #606060
.addusertxt:hover p
    color: #000
    
.userback
    background-color: none
    transition: .5s
    -webkit-transition: .5s
    -moz-transition: .5s
    -o-transition: .5s
    -ms-transition: .5s

.userback:hover
    background-color: #fff
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175)
    box-shadow: 0 6px 12px rgba(0,0,0,.175) 
.userbtn
    margin: 20px 5px
    height: 40px
    border-radius: 0
    -webkit-transition: all 0.5s ease 0s
    transition: all 0.5s ease 0s 
.userbtnedit
    margin: 20px 5px
    height: 40px
    border-radius: 0
    -webkit-transition: all 0.5s ease 0s
    transition: all 0.5s ease 0s 
.userbtn:hover
    background-color: #d9534f
    color: #fff 
.userbtnedit:hover
    background-color: #2f435b
    color: #fff 
#hover-content
    display: none 
#hover-me:hover #hover-content
    display: block 
#transhover
    opacity: 0
    -webkit-transition: .5s
    -moz-transition: .5s
    -o-transition: .5s
    -ms-transition: .5s
    transition: .5s 
#trans:hover #transhover
    opacity: 1 
.fa-trash:before
    font-size: 25px
    color: #c54e4e 

.fa-pencil:before
    font-size: 25px 
.usericos
    ul
        list-style-type: none
        text-align: center 
.usericos
    li
        display: inline
        text-align: center
        margin: 0 15px 
.usericoadd
    ul
        margin-left: -25px
        border: 1px solid blue 
    
.userimg
    padding: 25px 0

// Add User

.buttonadduser
    width: 200px
    height: 50px
    margin: 0
    padding: 0 20px
    vertical-align: middle
    background: #39465B
    border: 0
    font-size: 16px
    font-weight: 300
    line-height: 50px
    color: #fff
    -moz-border-radius: 0px
    text-align: center
    border-radius: 0px
    text-shadow: none
    box-shadow: none
    -webkit-transition: all .3s
    transition: all .3s 
    
.buttonadduser:hover
    opacity: 0.6
    color: #fff
.buttonadduser:active
    outline: 0
    opacity: 0.6
    color: #fff
    -moz-box-shadow: none
    -webkit-box-shadow: none
    box-shadow: none 
.buttonadduser:focus
    outline: 0
    opacity: 0.6
    background: #66d6c5
    color: #fff 

.buttonadduser:active:focus, button.btn.active:focus
    outline: 0
    opacity: 0.6
    background: #66d6c5
    color: #fff 

.adduserlabel
    ont-weight: 400
    font-size: 16px 
.useraddimg
    border-radius: 100%
    width: 150px
    margin: 0 auto 
.addimg
    margin-bottom: 15px
.addprodico
    text-align: center
    font-size: 35px
    padding: 0
.addimgbtn
    border-radius: 0
.adduserimgdiv
    padding-top: 30px