$alertok: #7699b6
$alerterror: #d34343
$alertadvice: #afaa54

// Messages - Alerts
//========================

// Alert OK
//----------------------------
.alertok
	background-color: $alertok
	border: 0
	border-radius: 0px
	color: #fff
	width: 200px
	padding: 20px 0
	text-align: center

// Alert Error
//----------------------------
.alerterror
	background-color: $alerterror
	border: 0
	border-radius: 0px
	color: #fff
	width: 200px
	padding: 20px 0
	text-align: center

// Alert Advice
//----------------------------
.alertadvice
	background-color: $alertadvice
	border: 0
	border-radius: 0px
	color: #fff
	width: 200px
	padding: 20px 0
	text-align: center


// Progress Bar
//----------------------------
[data-notify="progressbar"]
	margin-bottom: 0px
	position: absolute
	bottom: 0px
	left: 0px
	width: 100%
	height: 2px

// X Button (Close)
//---------------------------
.closealert
	background-color: transparent
	border: 0
	color: #fff
	&:hover
		color: #fff
	&:focus
		color: #fff

