@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
.alertok {
  background-color: rgba(118, 153, 182, 0.9);
  font-weight: bold;
  border: 0;
  border-radius: 0px;
  color: #fff;
  width: 250px;
  padding: 20px 0;
  text-align: center; }

.alerterror {
  background-color: #ba4545;
  border: 0;
  border-radius: 0px;
  color: #fff;
  width: 200px;
  padding: 20px 0;
  text-align: center; }

.alertadvice {
  background-color: #afaa54;
  border: 0;
  border-radius: 0px;
  color: #fff;
  width: 200px;
  padding: 20px 0;
  text-align: center; }

[data-notify="progressbar"] {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px; }

.closealert {
  background-color: transparent;
  border: 0;
  color: #fff; }
  .closealert:hover {
    color: #fff; }
  .closealert:focus {
    color: #fff; }

/* VALIDATION */
.ErrorText {
  text-align: left;
  padding: 0px;
  margin: 0px;
  background: url(../images/body/icons/bullet_error.png) no-repeat top left;
  padding-left: 15px;
  font-size: 12px;
  color: #DD0000; }

.ValiditySpan {
  padding: 2px; }

.ValiditySpanError {
  padding: 0px;
  border-left: 2px solid #D00; }

/* ALERTIFY */
.alertify-show,
.alertify-log {
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.alertify-hide {
  -webkit-transition: all 250ms cubic-bezier(0.6, 0, 0.735, 0.045);
  -webkit-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045); }

.alertify-cover {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8; }

.alertify {
  position: fixed;
  z-index: 99999;
  top: 20%;
  left: 50%;
  width: 550px;
  padding: 25px 0;
  margin-left: -275px; }

.alertify-hidden {
  top: -50px;
  visibility: hidden; }

.alertify-logs {
  position: fixed;
  z-index: 5000;
  bottom: 10px;
  right: 10px;
  width: 300px; }

.alertify-log {
  display: block;
  margin-top: 10px;
  position: relative;
  right: -300px; }

.alertify-log-show {
  right: 0; }

.alertify-dialog {
  padding: 25px 0px; }

.alertify-resetFocus {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.alertify-inner {
  text-align: center; }

.alertify-text {
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%; }

/* line-height and font-size for input button */
 * line-height: 1.5 
 * font-size: 100% 
 * display: inline-block 
 * cursor: pointer 
 * margin-left: 5px */
@media only screen and (max-width: 680px) {
  .alertify {
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .alertify-logs {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .alertify {
    left: 5%;
    margin: 0; } }
.alertify,
.alertify-log {
  font-family: "Open Sans", sans-serif; }

.alertify {
  background: #FFF;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.alertify-text {
  border: 1px solid #CCC;
  padding: 10px;
  border-radius: 4px; }

.alertify-message {
  margin-bottom: 25px; }

.alertify-button {
  color: #FFF;
  font-weight: bold;
  padding: 15px 15px;
  text-decoration: none;
  outline: none;
  margin: 10px 10px;
  -webkit-box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.77);
  box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.77);
  transition: all 0.2s ease 0s; }

.alertify-button:hover,
.alertify-button:focus,
.alertify-button:active {
  text-decoration: none; }

.alertify-button:active {
  position: relative;
  top: 1px;
  outline: none; }

.alertify-button-cancel {
  background-color: #ba4545; }
  .alertify-button-cancel:hover {
    background-color: #C06060;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 5px -10px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 2px 2px 5px -10px rgba(0, 0, 0, 0.77);
    box-shadow: 2px 2px 5px -10px rgba(0, 0, 0, 0.77); }

.alertify-button-ok {
  background-color: #056e90; }
  .alertify-button-ok:hover {
    background-color: #388fab;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 5px -10px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 2px 2px 5px -10px rgba(0, 0, 0, 0.77);
    box-shadow: 2px 2px 5px -10px rgba(0, 0, 0, 0.77); }

.alertify-log {
  background: #1F1F1F;
  background: rgba(0, 0, 0, 0.9);
  padding: 15px;
  border-radius: 4px;
  color: #FFF;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  text-align: center; }

.alertify-log-error {
  background: #FE1A00;
  background: rgba(254, 26, 0, 0.9); }

.alertify-log-success {
  background: #5CB811;
  background: rgba(92, 184, 17, 0.9); }

* {
  margin: 0;
  padding: 0;
  outline: 0; }

body {
  margin-top: 100px;
  font-family: "Open Sans", sans-serif;
  background-color: #5284ad;
  background-image: url(../images/body/backgrounds/back16.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  padding-top: 45px; }

@media(min-width:768px) {
  body {
    margin-top: 50px; }

  a:link {
    text-decoration: none; } }
@media(max-width:490px) {
  body {
    padding-top: 20px; } }
@media(min-width:490px) {
  body {
    padding-top: 70px; } }
@media(min-width:546px) {
  body {
    padding-top: 50px; } }
#wrapper {
  padding-left: 0;
  height: 100%; }

@media(min-width:768px) {
  #wrapper {
    padding-left: 225px; }

  #wrapperlogin {
    padding-left: 0; } }
@media(max-width:768px) {
  #wrapper {
    margin-top: 50px; } }
@media(max-width:960px) {
  #wrapper {
    margin-top: 30px; } }
@media(max-width:500px) {
  body {
    padding-top: 20px; }

  #wrapper {
    margin-top: 0px; } }
a {
  color: #fff;
  text-decoration: none;
  outline: 0; }

a:hover {
  color: #fff;
  text-decoration: none; }

a:hover, a:active, a:focus {
  outline: 0; }

p {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif; }

h5 {
  font-size: 15px;
  font-weight: bold; }

a:focus, a:hover {
  color: #fff;
  text-decoration: underline; }

.maintitle {
  margin: 3px 0; }

.maintitletxt {
  text-align: center; }

@media(max-width:341px) {
  .maintitletxt {
    font-size: 14px; } }
.pad0 {
  padding: 0; }

.mar0 {
  margin: 0; }

.centrarimg {
  margin: 0 auto; }

.centrartxt {
  text-align: center; }

.lastcol {
  margin-right: 0; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px; }

.centrarbtn {
  margin: 0;
  Background-color: transparent;
  text-align: center; }

.txtcenter {
  text-align: center; }

.brd {
  border: 1px solid red; }

.paginat {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-bottom: -15px; }

@media(max-width: 768px) {
  .paginat {
    left: 0;
    right: 0; } }
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 0; }

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-radius: 0; }

.pagination > li > a, .pagination > li > span {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(0, 0, 0, 0.3);
  color: #000; }

.additemdiv {
  margin-top: 20px;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 4px 2px 18px -6px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 4px 2px 18px -6px rgba(0, 0, 0, 0.69);
  box-shadow: 4px 2px 18px -6px rgba(0, 0, 0, 0.69); }

.additemtit {
  text-align: center;
  padding: 5px 0 10px 0;
  margin-top: 5px;
  margin-bottom: 30px; }

.additemtit h3 {
  color: #3d515c; }

.addprodimgdiv {
  padding-top: 30px; }

.itemimgmain {
  padding: 30px 0 20px 0; }

.donediv {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 25px 0 10px 0;
  max-width: 600px;
  margin: 0 auto;
  text-align: center; }

.formitems input[type=text],
.formitems input[type=password] {
  font-size: 13px;
  color: #000;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.formitems input[type=text]:hover,
.formitems input[type=password]:hover {
  border-color: #fff; }

.formitems label:hover ~ input {
  border-color: #fff; }

.formitems input[type=text]:focus,
.formitems input[type=password]:focus {
  border-color: #455568;
  outline: none; }

.formitems textarea {
  color: #000;
  min-height: 100px; }

.formitems select {
  background: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
  color: #000; }

#itemimg {
  display: none; }

.addimgdiv {
  min-height: 100px;
  margin-top: 10px; }

.useraddimg {
  border-radius: 100%;
  width: 150px;
  margin: 0 auto;
  transition: all 0.2s ease 0s; }

.useraddimg:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75); }

.thumbimg {
  width: 150px;
  margin: 0 auto; }

.thumbimgadd {
  width: 60px;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer; }

.itemdesctextarea {
  padding: 0;
  margin: 0; }

form .indicator {
  display: block;
  height: 30px;
  width: 0;
  background-color: #ccc;
  transition: 0.2s;
  -webkit-transition: 0.2s; }

form .indicator span.current-length {
  position: absolute;
  display: block;
  font-weight: bold;
  color: #444;
  padding: 5px 0 0 10px;
  font-size: 14px; }

form .indicator.low {
  background-color: rgba(38, 166, 91, 0.4); }

form .indicator.med {
  background-color: rgba(38, 166, 91, 0.5); }

form .indicator.high {
  background-color: rgba(38, 166, 91, 0.7); }

form .indicator.full {
  background-color: rgba(192, 57, 43, 0.7); }

form .indicator.empty {
  background-color: rgba(38, 166, 91, 0.2); }

.remchar {
  margin-top: 10px; }

.breadcrumb {
  padding: 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  border-radius: 0px;
  transition: all 0.3s ease-in-out; }
  .breadcrumb a {
    color: #000; }
    .breadcrumb a:hover {
      color: #404040; }

.breadcrumb > li + li::before {
  padding: 0 5px;
  color: #000;
  content: "/ "; }

.crumactive {
  color: red; }

ol, ul {
  margin-top: 0;
  margin-bottom: 10px; }

#filteritem {
  display: none; }

#filtersuser {
  display: none; }

.filterdiv {
  width: auto;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 20px 5px 5px;
  text-align: center;
  padding-bottom: 15px;
  margin: 0 15px;
  margin-bottom: 30px; }

.filterformdiv {
  margin-left: 10px;
  padding-top: 15px; }

.filtertit {
  margin-right: 15px; }

.form-controlit {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  max-width: 250px;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  display: inline; }

option {
  padding-left: 15px; }

option {
  padding-left: 15px; }

.inputsgral {
  padding: 0 5px; }

.masterbtn {
  padding: 5px 10px;
  margin: 0 auto;
  border-radius: 0;
  box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5);
  border: none;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #056e90;
  color: #fff; }
  .masterbtn:hover {
    box-shadow: 0px 0px 0px;
    background-color: #388fab; }
  .masterbtn:focus, .masterbtn:active {
    box-shadow: 0px 0px 0px;
    background-color: #388fab; }

a .masterbtn {
  color: #fff; }

.btndel {
  padding: 2px 20px;
  max-width: 70px;
  font-size: 22px;
  border-radius: 0;
  border: 0;
  background-color: #ba4545;
  color: #fff;
  transition: all 0.2s ease 0s; }
  .btndel:hover {
    background-color: #C06060;
    color: #fff; }
  .btndel:focus, .btndel:active {
    background-color: #e5817f;
    color: #fff; }

.btnmod {
  padding: 2px 20px;
  max-width: 70px;
  font-size: 22px;
  border-radius: 0;
  border: 0;
  background-color: #056e90;
  color: #fff;
  transition: all 0.2s ease 0s; }
  .btnmod:hover {
    background-color: #388fab;
    color: #fff; }
  .btnmod:focus, .btnmod:active {
    background-color: #388fab;
    color: #fff; }

.glasscontainer1 {
  width: auto;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 15px 5px 10px;
  margin-bottom: 15px;
  text-align: center;
  padding-bottom: 15px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.textcenter {
  text-align: center; }

.maincontainer {
  text-align: center; }

.filerow {
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px; }
  .filerow:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2); }

.optionsdiv {
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px; }

.delselected {
  padding: 5px 20px;
  margin: 0 auto;
  margin: 0 15px;
  box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5);
  border: none;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: #ba4545;
  color: #fff;
  cursor: pointer; }
  .delselected:hover {
    box-shadow: 0 0 0;
    background-color: #C06060; }

div#page_loader {
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  background-color: #2e354f;
  z-index: 9998; }

#loadgif {
  position: absolute;
  top: 15%;
  left: 40%;
  width: 700px;
  height: 700px;
  z-index: 9999; }

.juira {
  text-align: center;
  position: absolute;
  bottom: 0;
  color: black; }

.checkboxtree {
  max-width: 250px;
  text-align: left;
  list-style: none; }
  .checkboxtree li ul li {
    margin-left: 30px; }

.login {
  height: 100%;
  width: 100%; }

.loginbtn.focus, .btn:focus, .btn:hover {
  color: #fff; }

.loginbtn:hover {
  background-color: #388fab;
  color: #fff;
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.7); }

.logtitdiv {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 350px;
  float: none;
  padding: 10px 0 10px 40px;
  margin: 0 auto; }

.loginbtndiv {
  margin-top: 20px;
  margin-bottom: 20px; }

.rememberme {
  text-align: center;
  margin: auto 0; }

body#login {
  background-image: url(../images/body/backgrounds/loginback.jpg); }

.main {
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 100px;
  overflow: hidden; }

.logintit {
  color: #383838;
  font-size: 18px; }

.logimg {
  max-width: 40px;
  margin-right: 15px; }

.forgotdiv {
  float: none; }

.forgotpass {
  text-align: center;
  color: #383838; }

.forgottit {
  text-align: center;
  color: #000; }

.forgotmail {
  text-align: center; }

.forgotemailtoo {
  text-align: center;
  color: #383838; }

.forgotsubtit {
  font-size: 10px;
  text-align: center;
  color: #383838; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.log-in {
  text-align: center; }

.logindatos {
  margin: 25px 0 0 0; }

.loguser {
  margin-bottom: 30px;
  color: #383838; }

.logpass {
  color: #383838; }

.formulog {
  max-width: 350px;
  margin: 0px auto 30px;
  padding: 15px;
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  color: #fff; }

.formulog label {
  display: block;
  padding: 0 0 5px 2px;
  text-transform: uppercase;
  font-size: 14px; }

.formulog input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid black;
  min-height: 50px; }

.formulog label i {
  margin-right: 5px;
  display: inline-block;
  width: 10px;
  color: #000;
  margin-right: 25px; }

.fa-unlock:before {
  font-size: 16px;
  color: #000; }

.dropdown-menu label i {
  margin-right: 10px; }

.formulog input[type=text],
.formulog input[type=password] {
  font-size: 13px;
  color: #000;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.formulog input[type=text]:hover,
.formulog input[type=password]:hover {
  border-color: #fff; }

.formulog label:hover ~ input {
  border-color: #fff; }

.formulog input[type=text]:focus,
.formulog input[type=password]:focus {
  border-color: #455568;
  outline: none; }

.rememberme input {
  min-height: 1px !important; }

.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute; }

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer; }

.checkbox-custom-label, .radio-custom-label {
  position: relative; }

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
  content: "";
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  text-align: center; }

.checkbox-custom:checked + .checkbox-custom-label:before {
  background: #056e90;
  box-shadow: inset 0px 0px 0px 4px #fff; }

.ownername {
  color: #000; }

.marca {
  color: #ba4545; }

.side-nav li a {
  width: 225px; }
  .side-nav li a ul {
    padding: 0; }
    .side-nav li a ul li a {
      display: block;
      padding: 10px 15px 10px 38px;
      text-decoration: none;
      color: #383838; }

.side-nav li a:hover,
.side-nav li a:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6) !important; }

.side-nav li a:hover .navinicio,
.side-nav li a:focus .navinicio {
  border-left: 10px solid blue; }

@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 52px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.4);
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    box-shadow: -1px 15px 4px -1px rgba(0, 0, 0, 0.53); }
    .side-nav li {
      background-color: rgba(255, 255, 255, 0.7); }
      .side-nav li a {
        min-width: 100%; } }
.navbar-inverse {
  background-color: rgba(84, 88, 144, 0.5);
  border-color: transparent; }

.sideddmenu li ul {
  list-style: none; }
.sideddmenu a {
  padding: 10px 5px 10px 44px;
  display: block;
  color: #383838;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px; }
  .sideddmenu a:hover, .sideddmenu a:focus {
    color: #383838; }

.side-nav ul li {
  transition: all 0.2s ease 0s; }
  .side-nav ul li a {
    transition: all 0.2s ease 0s; }
  .side-nav ul li:hover {
    border-left: 4px solid #ba4545; }
  .side-nav ul li ul li {
    background-color: #fff;
    transition: all 0.2s ease 0s; }
    .side-nav ul li ul li a {
      padding-left: 60px;
      font-size: 12px;
      transition: all 0.2s ease 0s; }
    .side-nav ul li ul li:hover {
      border-left: 4px solid #056e90; }

.sidemenu .sideintern li {
  background-color: #ccc; }

.navbar-inverse .navbar-nav > li a {
  transition: all 0.2s ease 0s;
  border-bottom: 0.5px solid rgba(56, 56, 56, 0.1); }

@media(max-width:768px) {
  .navbar-inverse .navbar-nav > li a {
    width: auto; } }
.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
  color: #383838;
  border-left: 4px solid #ba4545; }

.navbar-inverse .navbar-brand {
  color: #fff; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: rgba(255, 255, 255, 0.2); }

@media(max-width:768px) {
  .navbar-inverse .navbar-collapse ul, .navbar-inverse .navbar-form ul {
    background-color: white; } }
.navbar-inverse .navbar-nav > li > a {
  color: #000; }

.navbar-inverse .navbar-nav > li > a {
  color: #000; }

.navbar-collapse {
  border-top: 0px; }

.dropdown-menu {
  padding: 0; }
  .dropdown-menu .fa {
    margin-right: 26px;
    margin-left: 5px; }

.marca {
  font-size: 12px; }

@media(max-width:340px) {
  .marca {
    display: none; } }
/* User Loged Img */
.userloginimg {
  height: 40px;
  border-radius: 100%;
  margin: 0 15px; }

.top-nav {
  padding: 0 15px; }
  .top-nav li {
    display: inline-block;
    float: left; }
    .top-nav li a {
      padding: 0;
      padding-top: 6px;
      padding-bottom: 5px;
      line-height: 20px;
      color: #fff;
      -webkit-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
      .top-nav li a:hover {
        color: #000; }

@media(max-width:340px) {
  .top-nav {
    padding: 0; } }
.top-nav li a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
  background-color: rgba #056e90, 0.7;
  color: #000; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: rgba #056e90, 0.7 !important; }

.dropdown {
  width: 219px; }

.top-nav .open .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  z-index: 9999;
  border-radius: 0; }
  .top-nav .open .dropdown-menu li {
    color: #000; }
    .top-nav .open .dropdown-menu li a {
      background-color: rgba(255, 255, 255, 0.3);
      color: #000;
      min-width: 218px;
      color: #383838; }
      .top-nav .open .dropdown-menu li a:hover {
        background-color: #ccc;
        color: #000; }

ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto; }

/* Width User logged */
li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

li.message-preview > a {
  padding-top: 15px;
  padding-bottom: 15px; }

li.message-footer {
  margin: 5px 0; }

ul.alert-dropdown {
  width: 200px; }

.itemdiv {
  background-color: #fff;
  width: 250px;
  text-align: center;
  margin: 20px 10px;
  padding: 0;
  -webkit-box-shadow: 11px 16px 43px -41px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 11px 16px 43px -41px rgba(0, 0, 0, 0.99);
  box-shadow: 11px 16px 43px -41px rgba(0, 0, 0, 0.99);
  padding: 0; }

.itemstatus {
  padding-top: 10px; }

.itemstattxt {
  text-align: center; }

.itemstatswitch {
  padding-right: 1px; }

.additemtxt {
  text-align: center;
  margin-bottom: 15px; }

.additemimg {
  max-width: 80px;
  margin: 0 auto;
  border-radius: 100%; }

.grid {
  height: 300px;
  overflow: hidden;
  position: relative;
  height: 280px;
  overflow: hidden;
  position: relative; }

.grid_content {
  background: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7fbfc+0,d9edf2+40,e3e7e8+100 */
  background: #f7fbfc;
  background: -moz-linear-gradient(top, #f7fbfc 0%, #d9edf2 40%, #e3e7e8 100%);
  background: -webkit-linear-gradient(top, #f7fbfc 0%, #d9edf2 40%, #e3e7e8 100%);
  background: linear-gradient(to bottom, #f7fbfc 0%, #d9edf2 40%, #e3e7e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#e3e7e8',GradientType=0 );
  padding: 10px;
  position: absolute;
  bottom: -300px;
  width: 250px;
  transition: all 0.5s ease;
  color: #000; }

.grid_content h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em; }

.grid:hover .grid_content {
  background-color: #fff;
  bottom: 0; }

.grid1:hover .grid_content {
  background-color: #fff;
  bottom: 0; }

.itemdiv .bootstrap-switch {
  border: 1px solid #ccc; }

.productstatus {
  text-align: center; }

.itemstatustit {
  text-align: center;
  margin-bottom: 12px; }

.priceimgstatus {
  margin-bottom: 20px; }

.usergral {
  max-width: 220px;
  margin: 10px 10px;
  padding-top: 20px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.usergralselect {
  background-color: rgba(255, 255, 255, 0.3) !important;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.usergralhoverout {
  background-color: transparent;
  box-shadow: none; }

@media(max-width:250px) {
  .usergral {
    margin: 5px 0;
    padding: 0; } }
.userimg {
  border-radius: 100%;
  max-width: 130px;
  cursor: pointer;
  margin: 0 auto;
  box-shadow: 10px 10px 21px -14px rgba(0, 0, 0, 0.75); }

@media(max-width:250px) {
  .usergral {
    padding: 5px 5px; } }
.usernamediv {
  margin-top: 10px;
  padding: 10px 0;
  text-align: center; }

a .usernamediv {
  color: #000;
  text-decoration: none;
  list-style: none; }

a .usernamediv:hover {
  text-decoration: none !important; }

.usernametxt {
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.66);
  font-weight: bold; }

.usernametxt2 {
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.66); }

p .addusertxt {
  color: #606060; }

p .addusertxt:hover {
  color: rgba(216, 216, 216, 0.5); }

.userbtn {
  margin: 20px 5px;
  height: 40px;
  border-radius: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.userbtnedit {
  margin: 20px 5px;
  height: 40px;
  border-radius: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.userbtn:hover {
  background-color: #d9534f;
  color: #fff; }

.userbtnedit:hover {
  background-color: #2f435b;
  color: #fff; }

.useradd {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.useradd:hover {
  -webkit-box-shadow: 10px 10px 21px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px -14px rgba(0, 0, 0, 0.75); }

.switchuser {
  text-align: center; }

.addusertit {
  text-align: center;
  padding-bottom: 10px; }

.adduserpop {
  position: fixed;
  font-family: Arial, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  text-align: center;
  font-family: "Open Sans", sans-serif; }

.adduserpop:target {
  opacity: 1;
  pointer-events: auto; }

.adduserpopbox {
  width: 400px;
  height: 550px;
  position: relative;
  padding: 20px 20px 13px 20px;
  background: #fff;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  -webkit-box-shadow: 10px 10px 23px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 23px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 23px 7px rgba(0, 0, 0, 0.75); }

.movedownaddus {
  margin: 0 auto;
  margin-top: 100px; }

.resize {
  margin: 10% auto;
  width: 0;
  height: 0; }

.adduserpopbox:target .movedownaddus {
  margin: 10% auto; }

.closemodal1 {
  color: red;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.closemodal1:hover {
  color: black; }

.txtconfirm h4 {
  font-weight: 300;
  font-size: 14px; }

.txtconfirm {
  margin: 30px; }

.btnconfdiv {
  margin-bottom: 20px; }

.modalmask {
  position: fixed;
  font-family: Arial, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  text-align: center;
  font-family: "Open Sans", sans-serif; }

.modalmask:target {
  opacity: 1;
  pointer-events: auto; }

.modalbox {
  width: 400px;
  position: relative;
  padding: 5px 20px 13px 20px;
  background: #fff;
  -webkit-transition: all 500ms ease-in;
  -moz-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
  -webkit-box-shadow: 10px 10px 23px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 23px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 23px 7px rgba(0, 0, 0, 0.75); }

.movedown {
  margin: 0 auto; }

.resize {
  margin: 10% auto;
  width: 0;
  height: 0; }

.modalmask:target .movedown {
  margin: 10% auto; }

.close {
  color: red;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.close:hover {
  color: black; }

.btnconfirmspc {
  margin-right: 70px; }

.btnconfirm {
  background-color: #056e85;
  color: #fff;
  height: 45px;
  padding: 12px 25px;
  text-align: right;
  border-radius: 0;
  -webkit-box-shadow: 4px 4px 17px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 17px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 17px -6px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.btnconfirm:hover {
  background-color: #098aa6;
  color: #fff;
  box-shadow: none; }

.btncancel {
  background-color: #ba4545;
  color: #fff;
  height: 45px;
  padding: 0 25px;
  border-radius: 0;
  -webkit-box-shadow: 4px 4px 17px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 17px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 17px -6px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.btncancel:hover {
  background-color: #C06060;
  color: #fff;
  box-shadow: none; }

@media(max-width:400px) {
  .modalbox {
    width: 250px; }

  .btnconfirmspc {
    margin-right: 0;
    margin-bottom: 5px;
    text-align: center; } }
/* CUSTOM POPOVERS */
.popover1 {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  width: 250px !important;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #2a4254 !important;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0px !important;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  color: white; }

.popover1.left {
  margin-left: -10px; }

.popover1 > .arrow,
.popover1 > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.popover1 > .arrow {
  border-width: 11px; }

.popover1 > .arrow:after {
  content: "";
  border-width: 10px; }

.popover1.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25); }

.popover1.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #2a4254; }

/* END CUSTOM POPOVERS */
.form-controlusers {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  max-width: 100%;
  border: 0;
  border-bottom: 1px solid #39465B;
  background-color: transparent; }

.divaddusers {
  float: left;
  margin-left: 25px;
  width: 400px;
  background-color: rgba(57, 70, 91, 0.2);
  margin-bottom: 25px;
  padding: 20px 20px;
  max-width: 100%;
  -webkit-box-shadow: 10px 10px 28px -15px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 28px -15px rgba(0, 0, 0, 0.29);
  box-shadow: 10px 10px 28px -15px rgba(0, 0, 0, 0.29); }

.textareausers {
  height: 150px; }

.form-control, .formadduser {
  border-radius: 0; }

.form-control, .formadduser {
  border-radius: 0; }

.form-controlitems {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  max-width: 100%;
  border: 0;
  border-bottom: 1px solid #39465B;
  background-color: transparent; }

.textareaitemsS {
  min-height: 65px; }

.fa-tree:before {
  font-size: 16px;
  color: #000; }

.fa-users:before {
  font-size: 20px;
  color: #000; }

.fa-fw .fa-users-plus:before {
  font-size: 20px; }

.fa-arrows-v:before {
  font-size: 20px;
  color: #000; }

.fa-shopping-cart:before {
  font-size: 20px;
  color: #000; }

.fa-home:before {
  font-size: 20px;
  color: #000; }

.fa-gear:before {
  font-size: 20px;
  color: #000; }

.fa-caret-down:hover {
  color: #fff; }

.hvr-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 2px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow; }

.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); }

.sombradiv {
  -webkit-box-shadow: 10px 10px 28px -15px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 28px -15px rgba(0, 0, 0, 0.29);
  box-shadow: 10px 10px 28px -15px rgba(0, 0, 0, 0.29); }

.subitbtn {
  border-radius: 0;
  background-color: transparent;
  color: #fff; }

.subitbtnhover {
  background-color: #197a99;
  color: #000; }

@media(max-width:1200px) {
  .itemsearchbtndiv {
    margin-top: 10px;
    margin-left: 0; } }
.itemsearchbtn {
  color: #fff;
  background-color: #056e90;
  border: 0;
  border-radius: 0;
  transition: 0.5s;
  margin-left: 10px; }

.itemsearchbtn:hover,
.itemsearchbtn.active,
.open .dropdown-toggle.itemsearchbtn {
  background-color: #197a99;
  color: #000; }

.itemsearchbtn:focus,
.itemsearchbtn:active {
  color: #ccc; }

.itemsearchbtn:active,
.itemsearchbtn.active,
.open .dropdown-toggle.itemsearchbtn {
  background-image: none; }

.subtop {
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  right: 0;
  left: 225px;
  padding-top: 10px;
  z-index: 1030;
  margin-top: 1px;
  box-shadow: 2px 3px 6px -5px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 2px 3px 6px -5px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 2px 3px 6px -5px rgba(0, 0, 0, 0.55);
  min-height: 42px; }

@media(max-width:768px) {
  .subtop {
    left: 0; } }
@media(max-width:400px) {
  .subtop1 .subtop2 {
    text-align: center; } }
@media(max-width:500px) {
  .subtop {
    visibility: hidden; } }
.subtop2 {
  float: right;
  color: #383838; }
  .subtop2 ul {
    padding: 0;
    list-style: none; }
    .subtop2 ul li {
      display: inline-block;
      margin-right: 10px; }
      .subtop2 ul li a {
        text-align: center;
        padding: 0px 4px;
        font-size: 14px;
        display: block;
        color: #383838;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
        .subtop2 ul li a:hover {
          color: #383838;
          text-decoration: none; }

.subtop2 ul li:last-child {
  margin-right: 0; }

.itemsviewOff {
  visibility: hidden; }

.itemsviewOn {
  visibility: visible; }

.subtop1 {
  float: left;
  color: #383838; }

@media(max-width:730px) {
  .subtop1 {
    float: none;
    text-align: center;
    margin-bottom: 10px; } }
@media(max-width:730px) {
  .subtop2 {
    float: none;
    text-align: center; } }
#panel-oculto {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 200px;
  z-index: 1000;
  background-color: #222; }

.listrow {
  margin: 5px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px 15px;
  color: #fff;
  text-align: left;
  display: flex; }
  .listrow:hover {
    cursor: pointer;
    background-color: rgba(204, 204, 204, 0.5);
    -webkit-box-shadow: inset 2px 3px 5px -3px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: inset 2px 3px 5px -3px rgba(0, 0, 0, 0.54);
    box-shadow: inset 2px 3px 5px -3px rgba(0, 0, 0, 0.54);
    color: #000; }

.listtit {
  margin: 5px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px 15px;
  color: #fff;
  text-align: left;
  display: flex;
  background-color: rgba(5, 110, 144, 0.5); }

.titlist1 {
  border-right: 1px solid rgba(216, 216, 216, 0.5); }

.titlist2 {
  border-right: 1px solid rgba(216, 216, 216, 0.5); }

.titlist3 {
  border-right: 1px solid rgba(216, 216, 216, 0.5); }

.titlist4 {
  border-right: 1px solid rgba(216, 216, 216, 0.5); }

.titlist5 {
  border-right: 1px solid rgba(216, 216, 216, 0.5); }

.titlist6ult {
  border-right: 1px solid rgba(216, 216, 216, 0.5); }

.padtoplist {
  padding-top: 15px; }

.listselect {
  background-color: rgba(5, 110, 144, 0.5);
  -webkit-box-shadow: inset 2px 3px 5px -3px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: inset 2px 3px 5px -3px rgba(0, 0, 0, 0.54);
  box-shadow: inset 2px 3px 5px -3px rgba(0, 0, 0, 0.54); }

.menulistico.fa-gears::before,
.menulistico.fa-sitemap::before,
.menulistico.fa-home::before,
.menulistico.fa-list-ul::before,
.menulistico.fa-user::before,
.menulistico.fa-tree::before,
.menulistico.fa-plus-square::before,
.menulistico.fa-eye::before,
.menulistico.fa-tree::before,
.menulistico.fa-money::before,
.menulistico.fa-bars::before {
  font-size: 35px;
  padding-top: 5px;
  color: #fff; }
  .menulistico.fa-gears::before:hover:before,
  .menulistico.fa-sitemap::before:hover:before,
  .menulistico.fa-home::before:hover:before,
  .menulistico.fa-list-ul::before:hover:before,
  .menulistico.fa-user::before:hover:before,
  .menulistico.fa-tree::before:hover:before,
  .menulistico.fa-plus-square::before:hover:before,
  .menulistico.fa-eye::before:hover:before,
  .menulistico.fa-tree::before:hover:before,
  .menulistico.fa-money::before:hover:before,
  .menulistico.fa-bars::before:hover:before {
    color: #000; }

.menulistcol1 {
  padding-top: 8px; }

.listrowitem {
  margin: 5px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  padding-right: 15px;
  color: #fff;
  text-align: left; }
  .listrowitem:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4); }

.itemtit {
  margin: 30px 0 0; }

.itemtxt {
  text-align: center; }

.itemrow2 {
  padding: 0 10px; }

.itemtxtcolor {
  font-size: 12px; }

.prodimglist {
  border-radius: 100%;
  max-width: 50px;
  padding: 0;
  cursor: pointer; }

.col1listprod {
  border-right: 1px solid rgba(216, 216, 216, 0.5); }

.col2listprod {
  border-right: 1px solid rgba(216, 216, 216, 0.5);
  padding-top: 15px; }

.col3listprod {
  border-right: 1px solid rgba(216, 216, 216, 0.5);
  padding-top: 15px; }

.col4listprod {
  border-right: 1px solid rgba(216, 216, 216, 0.5);
  padding-top: 15px; }

.col5listprod {
  border-right: 1px solid rgba(216, 216, 216, 0.5);
  padding-top: 15px; }

.col6listprod {
  padding-top: 10px; }

.prodicos ul {
  list-style-type: none;
  text-align: center; }

.prodicos li {
  display: inline;
  text-align: center;
  margin: 0 15px; }

.itemicos {
  background-color: transparent;
  margin-top: 10px; }
  .itemicos ul {
    list-style-type: none;
    text-align: center; }
  .itemicos li {
    display: inline;
    text-align: center;
    margin: 0 15px; }

.prodicoadd ul {
  margin-left: -25px;
  border: 1px solid blue; }

.prodfilediv {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 5px;
  margin: 20px 0; }

.prodfileimg {
  width: 100px;
  height: 100px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  -webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.175);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.prodfileimg:hover {
  box-shadow: none; }

.colprod {
  margin-top: 10px; }

.colprodtit {
  margin-top: 10px;
  text-align: center; }

.colprod1 {
  margin-top: 10px;
  text-align: center; }

.colprodico {
  margin-top: 10px; }

.userimglist {
  border-radius: 100%;
  max-width: 50px;
  padding: 0;
  cursor: pointer; }

.col1listus {
  border-right: 1px solid rgba(216, 216, 216, 0.5); }

.col2listus {
  border-right: 1px solid rgba(216, 216, 216, 0.5);
  padding-top: 15px; }

.col3listus {
  border-right: 1px solid rgba(216, 216, 216, 0.5);
  padding-top: 15px; }

.col4listus {
  border-right: 1px solid rgba(216, 216, 216, 0.5);
  padding-top: 15px; }

.col5listus {
  border-right: 1px solid rgba(216, 216, 216, 0.5);
  padding-top: 15px; }

.col6listus {
  padding-top: 10px; }

@media(max-width:1200px) {
  .userimglist {
    max-width: 50px; } }
.usericos {
  height: 50px; }

.usericoslist ul, .usericos ul {
  list-style-type: none;
  text-align: center;
  transition: 0.5s; }
  .usericoslist ul li, .usericos ul li {
    display: inline;
    text-align: center;
    margin: 0 5px;
    transition: 0.5s; }

.visible {
  visibility: visible; }

.usericoslist {
  margin-top: 0; }

/*# sourceMappingURL=main.css.map */
