@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic,300italic);
.txC {
  text-align: center; }

.txR {
  text-align: right; }

.txL {
  text-align: left; }

::-webkit-input-placeholder {
  font-size: 14px;
  color: #000;
  text-align: left; }

:-moz-placeholder {
  font-size: 14px;
  color: #000;
  text-align: left; }

::-moz-placeholder {
  font-size: 14px;
  color: #000;
  text-align: left; }

:-ms-input-placeholder {
  font-size: 14px;
  color: #000;
  text-align: left; }

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #000 !important; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s; }

.formitems input[type=text],
.formitems input[type=password] {
  font-size: 13px;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.formitems input[type=text]:hover,
.formitems input[type=password]:hover {
  border-color: #fff; }

.formitems label:hover ~ input {
  border-color: #fff; }

.formitems input[type=text]:focus,
.formitems input[type=password]:focus {
  border-color: #455568;
  outline: none; }

.formitems textarea {
  min-height: 100px; }

.formitems select {
  background: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.5);
  color: #000; }

@media (max-width: 290px) {
  .formitems {
    padding: 0; } }
.modal .modal-header {
  background-color: #335e98;
  color: #fff; }
  .modal .modal-header .close {
    color: #fff;
    opacity: 1;
    top: 2px; }
    .modal .modal-header .close:hover {
      color: #ba4545;
      text-shadow: none;
      background-color: #fff;
      top: 2px; }
.modal .modal-footer {
  border-top: 0; }

.mainbtn {
  margin: 5px;
  border: 0;
  padding: 9px 20px 9px;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: linear-gradient(to bottom, #3f9ebd 0, #4379b1 95%);
  color: #fff; }
  .mainbtn:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    color: #fff;
    background: linear-gradient(to bottom, #388fab 0, #3a6da2 95%); }
  .mainbtn:focus, .mainbtn:active {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    color: #fff;
    background: linear-gradient(to bottom, #388fab 0, #3a6da2 95%); }

a .mainbtn {
  color: #fff; }

.mainbtnred {
  background: linear-gradient(to bottom, #9f433b 0, #935953 95%);
  transition: all 0.3s ease 0s; }
  .mainbtnred:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    color: #fff;
    background: linear-gradient(to bottom, #a13931 0, #a35249 95%); }
  .mainbtnred:focus, .mainbtnred:active {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    color: #ccc;
    background: linear-gradient(to bottom, #a13931 0, #a35249 95%); }

.modBtnList, .delBtnList {
  padding: 4px 6px;
  vertical-align: middle;
  margin-top: 8px; }

.thirdBtn {
  background: linear-gradient(to bottom, #868a3b 0, #9a9e4d 95%);
  transition: all 0.3s ease 0s; }
  .thirdBtn:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    color: #fff;
    background: linear-gradient(to bottom, #707334 0, #828642 95%); }
  .thirdBtn:focus, .thirdBtn:active {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    color: #fff;
    background: linear-gradient(to bottom, #707334 0, #828642 95%); }

.acceptBtn {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
  padding: 8px 20px 8px;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  font-size: 14px;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: linear-gradient(to bottom, #3f9ebd 0, #4379b1 95%);
  color: #000; }
  .acceptBtn:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: linear-gradient(to bottom, #388fab 0, #3a6da2 95%); }
  .acceptBtn:focus, .acceptBtn:active {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }

.newItemBtn {
  background: linear-gradient(to bottom, #ffffff 0, #c3c3c3 95%);
  color: #000; }
  .newItemBtn:hover {
    background: linear-gradient(to bottom, #ececec 0, #bbbbbb 95%);
    color: #383838; }

.btnForDark {
  background: #874141;
  color: #fff; }
  .btnForDark:hover {
    background: linear-gradient(to bottom, #ececec 0, #bbbbbb 95%);
    color: #383838; }

.switchRight {
  padding-top: 10px; }

.closeBtn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 5px 10px;
  z-index: 5;
  border: none;
  border-radius: 0 0 0 5px;
  background-color: white;
  transition: all 0.3s ease 0s; }
  .closeBtn:hover {
    background-color: #df5555; }
    .closeBtn:hover .fa {
      color: #fff; }
  .closeBtn:focus, .closeBtn:active {
    box-shadow: 0px 0px 0px;
    background-color: trasparent; }
  .closeBtn .fa {
    color: #000; }

.hvr-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 2px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow; }

.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5); }

.sombradiv {
  -webkit-box-shadow: 10px 10px 28px -15px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 28px -15px rgba(0, 0, 0, 0.29);
  box-shadow: 10px 10px 28px -15px rgba(0, 0, 0, 0.29); }

@media(max-width:1200px) {
  .itemsearchbtndiv {
    margin-top: 10px;
    margin-left: 0; } }
.itemsearchbtn {
  color: #fff;
  background-color: #056e90;
  border: 0;
  border-radius: 0;
  transition: 0.5s;
  margin-left: 10px; }

.itemsearchbtn:hover,
.itemsearchbtn.active,
.open .dropdown-toggle.itemsearchbtn {
  background-color: #197a99;
  color: #000; }

.itemsearchbtn:focus,
.itemsearchbtn:active {
  color: #ccc; }

.itemsearchbtn:active,
.itemsearchbtn.active,
.open .dropdown-toggle.itemsearchbtn {
  background-image: none; }

.paginat {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  margin-bottom: -15px; }

@media(max-width: 768px) {
  .paginat {
    left: 0;
    right: 0; } }
.pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 0; }

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-radius: 0; }

.pagination > li > a, .pagination > li > span {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(0, 0, 0, 0.3);
  color: #000; }

form .indicator {
  display: block;
  height: 30px;
  width: 0;
  background-color: #ccc;
  transition: 0.2s;
  -webkit-transition: 0.2s; }

form .indicator span.current-length {
  position: absolute;
  display: block;
  font-weight: bold;
  color: #444;
  padding: 5px 0 0 10px;
  font-size: 14px; }

form .indicator.low {
  background-color: rgba(38, 166, 91, 0.4); }

form .indicator.med {
  background-color: rgba(38, 166, 91, 0.5); }

form .indicator.high {
  background-color: rgba(38, 166, 91, 0.7); }

form .indicator.full {
  background-color: rgba(192, 57, 43, 0.7); }

form .indicator.empty {
  background-color: rgba(38, 166, 91, 0.2); }

.remchar {
  margin-top: 10px; }

.breadcrumb {
  padding: 0px;
  margin-bottom: 0px;
  list-style: none;
  background-color: transparent;
  border-radius: 0px;
  transition: all 0.3s ease-in-out; }
  .breadcrumb a {
    color: #000; }
    .breadcrumb a:hover {
      color: #404040; }

.breadcrumb > li + li::before {
  padding: 0 5px;
  color: #000;
  content: "/ "; }

.crumactive {
  color: red; }

.tipText {
  display: flex;
  align-items: center; }
  .tipText .fa {
    margin-right: 5px; }
  .tipText p {
    color: #797979; }

* {
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none; }

html {
  background-color: #5284ad;
  height: 100%; }

body {
  font-family: "Roboto", sans-serif;
  background-image: url(../images/body/backgrounds/back.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  margin-top: 53px;
  position: relative;
  height: 100% !important;
  min-height: 100%; }

#wrapper {
  padding-left: 0;
  padding-bottom: 150px;
  height: 100%; }

.pageWrapper {
  padding-top: 70px;
  background-repeat: repeat;
  height: 100%; }

@media(max-width:768px) {
  .container-fluid {
    padding-left: 2px;
    padding-right: 2px; } }
.contentWrapper {
  background-color: white;
  margin-top: -2px;
  height: 100%; }

@media(min-width:768px) {
  #wrapper {
    padding-left: 225px;
    height: 100%; }

  #wrapperlogin {
    padding-left: 0; } }
@media(max-width:960px) {
  #wrapper {
    margin-top: 24px; } }
a {
  color: #fff;
  text-decoration: none;
  outline: 0; }
  a:hover {
    color: #fff;
    text-decoration: none;
    outline: 0; }
  a:active, a:focus {
    outline: 0; }

h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif;
  margin-top: 10px; }

h1 {
  font-size: 28px;
  font-weight: 400; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px;
  font-weight: 400; }

h4 {
  font-size: 18px;
  font-weight: 300; }

h5 {
  font-size: 16px;
  font-weight: 300; }

p {
  font-family: "Roboto", sans-serif;
  margin: 0; }

ul {
  list-style: none !important; }

.textcenter {
  text-align: center; }

.Hidden {
  display: none !important; }

.pad0 {
  padding: 0; }

.mar0, .marg0 {
  margin: 0; }

.centrarimg {
  margin: 0 auto; }

.centrartxt {
  text-align: center; }

.lastcol {
  margin-right: 0; }

.marg20 {
  margin-top: 20px;
  margin-bottom: 20px; }

.row-centered {
  text-align: center; }

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px; }

.centrarbtn {
  margin: 0;
  Background-color: transparent;
  text-align: center; }

.txtcenter {
  text-align: center; }

.brd {
  border: 1px solid red; }

.radio100 {
  border-radius: 100%; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }

.flex-allCenter {
  justify-content: center;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center; }

.mainContainer {
  margin: 25px 0 40px; }

.titleDiv {
  width: auto;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.88);
  padding: 1px 5px;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: row;
  z-index: 500; }
  .titleDiv span {
    font-weight: 300;
    white-space: nowrap; }
  .titleDiv a {
    color: #000; }
  .titleDiv .breadCrumTitle span {
    margin: 0 10px; }
  .titleDiv .breadCrumTitle .fa {
    font-weight: 400;
    font-size: 16px;
    color: #595959; }
  .titleDiv .mainTitle {
    font-size: 20px;
    font-weight: 300;
    color: black; }
    .titleDiv .mainTitle .mainTitle .fa {
      color: #000; }
  .titleDiv .breadCrums {
    font-size: 15px;
    font-style: italic;
    font-weight: 300; }
  .titleDiv .titleDivOptions {
    text-align: right; }

@media(max-width: 1410px) {
  .titleDiv .breadCrums {
    font-size: 14px; }
  .titleDiv .mainTitle {
    font-size: 16px; } }
@media(max-width: 1242px) {
  .titleDiv .breadCrums {
    font-size: 12px; }
  .titleDiv .mainTitle {
    font-size: 14px; }

  .mainbtn {
    padding: 6px 6px 6px;
    font-size: 12px; } }
@media(max-width: 842px) {
  .titleDiv {
    display: block;
    padding: 5px 0; }
    .titleDiv .titleDivOptions {
      text-align: center; } }
@media (max-width: 866px) and (min-width: 767px) {
  .titleDiv {
    display: flex; } }
@media(max-width: 430px) {
  .breadCrumTitle {
    display: none; }

  .titleDiv {
    margin-top: -2px;
    width: 105%; } }
@media(max-width: 340px) {
  .titleDiv .breadCrums {
    font-size: 11px; }
  .titleDiv .mainTitle {
    font-size: 11px; } }
div#page_loader {
  position: relative;
  background-color: #2e354f;
  z-index: 9998;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center; }

#loadgif {
  position: absolute;
  z-index: 9999;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center; }
  #loadgif img {
    width: 150px; }

.usergral {
  max-width: 220px;
  height: 300px;
  margin: 10px 10px;
  padding: 0;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  overflow: hidden; }

.usergralProfile {
  height: 270px; }

.userMainSection {
  padding: 0; }

.bs-example {
  margin: 200px 150px 0; }

.usergralselect {
  background-color: rgba(255, 255, 255, 0.3) !important; }

.usergralhoverout {
  background-color: transparent;
  box-shadow: none; }

@media(max-width:250px) {
  .usergral {
    margin: 5px 0;
    padding: 0; } }
.userHover {
  background-color: rgba(255, 255, 255, 0.5); }

.userButtons {
  padding-top: 10px;
  padding-bottom: 20px; }

.userimgdiv {
  padding-top: 20px; }

.userimg {
  border-radius: 100%;
  max-width: 130px;
  cursor: pointer;
  margin: 0 auto;
  box-shadow: 10px 10px 21px -14px rgba(0, 0, 0, 0.75); }

.usericos {
  padding-top: 15px; }

@media(max-width:250px) {
  .usergral {
    padding: 5px 5px; } }
.usernamediv {
  margin-top: 10px;
  padding: 10px 0;
  text-align: center; }

a .usernamediv {
  color: #000;
  text-decoration: none;
  list-style: none; }

a .usernamediv:hover {
  text-decoration: none !important; }

.usernametxt {
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.66);
  font-weight: bold; }

.usernametxt2 {
  text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.66); }

p .addusertxt {
  color: #606060; }

p .addusertxt:hover {
  color: rgba(216, 216, 216, 0.5); }

.delmoduser {
  padding-top: 5px; }

.userbtn {
  margin: 20px 5px;
  height: 40px;
  border-radius: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.userbtnedit {
  margin: 20px 5px;
  height: 40px;
  border-radius: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.userbtn:hover {
  background-color: #d9534f;
  color: #fff; }

.userbtnedit:hover {
  background-color: #2f435b;
  color: #fff; }

.useradd {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s; }

.useradd:hover {
  -webkit-box-shadow: 10px 10px 21px -14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 21px -14px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 21px -14px rgba(0, 0, 0, 0.75); }

body#login {
  background-image: url(../images/body/backgrounds/back2.jpg); }

.login {
  height: 100%;
  width: 100%; }

.loginDiv {
  max-width: 350px; }

.logtitdiv {
  margin-top: 20%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  text-align: center; }
  .logtitdiv img {
    max-width: 40px;
    margin-right: 15px; }

.loginInner .fa-unlock:before, .loginInner .fa-user:before {
  font-size: 16px;
  color: #474747; }

.rememberDiv {
  max-width: 350px;
  background-color: rgba(255, 255, 255, 0.5); }

.loginInner {
  text-align: center;
  padding: 15px 0;
  background: linear-gradient(to bottom, #8c839b 0, rgba(40, 39, 41, 0.52) 50%); }
  .loginInner h4 {
    font-size: 18px;
    text-align: center;
    color: #fff; }

.rememberLoginDiv label {
  color: #fff;
  transition: all 0.3s ease 0s; }
  .rememberLoginDiv label:hover {
    color: #335e98; }

.rememberme input {
  min-height: 1px !important; }

.formulog {
  max-width: 350px;
  position: relative;
  color: #fff; }

.formulog label {
  display: block;
  padding: 0 0 5px 2px;
  text-transform: uppercase;
  font-size: 14px; }

.formulog input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #c5c5c5;
  min-height: 50px; }

.formulog label i {
  margin-right: 5px;
  display: inline-block;
  width: 10px;
  color: #474747;
  margin-right: 25px; }

.loguser, .logpass {
  color: #fff;
  text-align: left; }

.loguser {
  margin-bottom: 30px; }

.formulog input[type=text],
.formulog input[type=password] {
  font-size: 13px;
  color: #d0d0d0;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.formulog input[type=text]:hover,
.formulog input[type=password]:hover {
  border-color: #fff; }

.formulog label:hover ~ input {
  border-color: #fff; }

.formulog input[type=text]:focus,
.formulog input[type=password]:focus {
  border-color: #455568;
  outline: none; }

.logBtn {
  margin: 15px 0; }

.forgotDiv {
  padding: 10px 0; }
  .forgotDiv a {
    color: #fff;
    transition: all 0.3s ease 0s; }
    .forgotDiv a:hover {
      color: #ccc; }

.forgotsubtit {
  font-size: 10px;
  text-align: center;
  color: #383838; }

.alertok {
  background-color: rgba(233, 233, 233, 0.9);
  font-weight: bold;
  border: 0;
  border-radius: 0px;
  color: #fff;
  width: 250px;
  padding: 20px 0;
  text-align: center; }

.alerterror {
  background-color: #ba4545;
  border: 0;
  border-radius: 0px;
  color: #fff;
  width: 200px;
  padding: 20px 0;
  text-align: center; }

.alertadvice {
  background-color: #afaa54;
  border: 0;
  border-radius: 0px;
  color: #fff;
  width: 200px;
  padding: 20px 0;
  text-align: center; }

[data-notify="progressbar"] {
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px; }

.closealert {
  background-color: transparent;
  border: 0;
  color: #fff; }
  .closealert:hover {
    color: #fff; }
  .closealert:focus {
    color: #fff; }

/* VALIDATION */
.ErrorText {
  text-align: left;
  padding: 0px;
  margin: 0px;
  background: url(../images/body/icons/bullet_error.png) no-repeat top left;
  padding-left: 15px;
  font-size: 12px;
  color: #DD0000; }

.ValiditySpan {
  padding: 2px; }

.ValiditySpanError {
  padding: 0px;
  border-left: 2px solid #D00; }

/* ALERTIFY */
.alertify-show,
.alertify-log {
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.alertify-hide {
  -webkit-transition: all 250ms cubic-bezier(0.6, 0, 0.735, 0.045);
  -webkit-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -moz-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -ms-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  -o-transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: all 250ms cubic-bezier(0.6, -0.28, 0.735, 0.045); }

.alertify-cover {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.8; }

.alertify {
  position: fixed;
  z-index: 99999;
  top: 20%;
  left: 50%;
  width: 550px;
  padding: 25px 0;
  margin-left: -275px; }

.alertify-hidden {
  top: -50px;
  visibility: hidden; }

.alertify-logs {
  position: fixed;
  z-index: 5000;
  bottom: 10px;
  right: 10px;
  width: 300px; }

.alertify-log {
  display: block;
  margin-top: 10px;
  position: relative;
  right: -300px; }

.alertify-log-show {
  right: 0; }

.alertify-dialog {
  padding: 25px 0px; }

.alertify-resetFocus {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.alertify-inner {
  text-align: center; }

.alertify-text {
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%; }

/* line-height and font-size for input button */
 * line-height: 1.5
 * font-size: 100%
 * display: inline-block
 * cursor: pointer
 * margin-left: 5px */
@media only screen and (max-width: 680px) {
  .alertify {
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .alertify-logs {
    width: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .alertify {
    left: 5%;
    margin: 0; } }
.alertify,
.alertify-log {
  font-family: "Open Sans", sans-serif; }

.alertify {
  background: #FFF;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.alertify-text {
  border: 1px solid #CCC;
  padding: 10px;
  border-radius: 4px; }

.alertify-message {
  margin-bottom: 25px; }

.alertify-button {
  color: #FFF;
  font-weight: bold;
  padding: 15px 15px;
  text-decoration: none;
  outline: none;
  margin: 10px 10px;
  -webkit-box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.77);
  -moz-box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.77);
  box-shadow: 10px 10px 15px -10px rgba(0, 0, 0, 0.77);
  transition: all 0.2s ease 0s; }

.alertify-button:hover,
.alertify-button:focus,
.alertify-button:active {
  text-decoration: none; }

.alertify-button:active {
  position: relative;
  top: 1px;
  outline: none; }

.alertify-button-cancel {
  background-color: #ba4545; }
  .alertify-button-cancel:hover {
    background-color: #C06060;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 5px -10px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 2px 2px 5px -10px rgba(0, 0, 0, 0.77);
    box-shadow: 2px 2px 5px -10px rgba(0, 0, 0, 0.77); }

.alertify-button-ok {
  background-color: #335e98; }
  .alertify-button-ok:hover {
    background-color: #388fab;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 5px -10px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 2px 2px 5px -10px rgba(0, 0, 0, 0.77);
    box-shadow: 2px 2px 5px -10px rgba(0, 0, 0, 0.77); }

.alertify-log {
  background: #1F1F1F;
  background: rgba(0, 0, 0, 0.9);
  padding: 15px;
  border-radius: 4px;
  color: #FFF;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
  text-align: center; }

.alertify-log-error {
  background: #FE1A00;
  background: rgba(254, 26, 0, 0.9); }

.alertify-log-success {
  background: #5CB811;
  background: rgba(92, 184, 17, 0.9); }

.alert-success, .alert-info {
  color: #3c763d;
  border: 0;
  color: #fff;
  max-width: 300px;
  min-height: 100px;
  padding: 30px;
  border-radius: 5px;
  border-top: 20px solid rgba(255, 255, 255, 0.2); }
  .alert-success .fa, .alert-info .fa {
    font-size: 50px; }

.alert-success {
  background-color: #96a171; }

.alert-info {
  background-color: #cdcdcd;
  color: #000; }

.nav .fa {
  color: #694848; }
  .nav .fa:hover .fa {
    color: #fff; }

.ownername {
  color: #fff; }

.brand {
  color: #fff; }

.navbar-inverse {
  background-color: #335e98;
  border-color: transparent; }
  .navbar-inverse .navbar-nav > li a {
    transition: all 0.2s ease 0s; }
    .navbar-inverse .navbar-nav > li a:hover, .navbar-inverse .navbar-nav > li a:focus {
      color: #fff;
      border-left: 4px solid rgba(164, 164, 164, 0.37); }
  .navbar-inverse .navbar-nav > li > a {
    color: #fff; }
  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background-color: #335e98;
    background: #335e98;
    background: -moz-linear-gradient(left, #335e98 0%, #053d54 100%);
    background: -webkit-linear-gradient(left, #335e98 0%, #053d54 100%);
    background: linear-gradient(to right, #335e98 0%, #053d54 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$colorTop', endColorstr='$colorTop2',GradientType=1 ); }

@media(max-width:768px) {
  .navbar-inverse .navbar-nav > li a {
    width: auto; } }
@media(max-width:768px) {}
.navbar-collapse {
  border-top: 0px; }

.side-nav .fa {
  font-size: 18px;
  margin-right: 5px;
  background-color: #fff;
  border-radius: 12px 0px 12px 12px;
  height: 28px;
  width: 28px;
  padding-top: 5px; }
.side-nav .menuArrow {
  background-color: transparent !important;
  color: #fff !important; }
.side-nav li {
  transition: all 0.2s ease 0s; }
  .side-nav li:hover {
    border-left: 4px solid rgba(164, 164, 164, 0.37); }
  .side-nav li a {
    transition: all 0.2s ease 0s;
    width: 225px; }
    .side-nav li a:hover {
      border-left: 4px solid rgba(164, 164, 164, 0.37);
      transition: all 0.2s ease 0s; }
    .side-nav li a:hover, .side-nav li afocus {
      background-color: #4f7e91 !important; }
      .side-nav li a:hover .fa, .side-nav li afocus .fa {
        color: #947070;
        text-shadow: none; }
    .side-nav li a ul {
      padding: 0; }
      .side-nav li a ul li {
        background-color: #fff;
        transition: all 0.2s ease 0s; }
        .side-nav li a ul li a {
          display: block;
          padding: 10px 15px 10px 38px;
          text-decoration: none;
          color: #383838;
          padding-left: 50px;
          transition: all 0.2s ease 0s; }
          .side-nav li a ul li a:hover {
            border-left: 5px solid #335e98; }

@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 52px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    box-shadow: -1px 15px 4px -1px rgba(0, 0, 0, 0.53); }
    .side-nav li {
      background-color: transparent; }
      .side-nav li a {
        min-width: 100%; } }
.sideddmenu li {
  background-color: rgba(30, 79, 99, 0.6); }
  .sideddmenu li:hover {
    border-left: 4px solid rgba(164, 164, 164, 0.37); }
  .sideddmenu li ul {
    list-style: none; }
  .sideddmenu li .fa {
    font-size: 14px;
    padding-top: 7px; }
.sideddmenu a {
  font-size: #91ebc1;
  padding: 10px 5px 10px 25px;
  display: block;
  color: #fff;
  text-decoration: none;
  padding-top: 15px;
  padding-bottom: 15px; }
  .sideddmenu a:hover, .sideddmenu a:focus {
    color: #fff; }

.dropdown-menu {
  padding: 0; }
  .dropdown-menu .fa {
    margin-right: 26px;
    margin-left: 5px; }

.brand {
  font-size: 12px; }

@media(max-width:340px) {
  .brand {
    display: none; } }
/* User Loged Img */
.userloginimg {
  height: 40px;
  border-radius: 100%;
  margin: 0 15px; }

@media(max-width:340px) {
  .top-nav {
    padding: 0; } }
.top-nav li a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
  background-color: rgba #335e98, 0.7;
  color: #000; }

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: rgba #335e98, 0.7 !important; }

.dropdown {
  width: 219px; }

.top-nav {
  padding: 0 15px; }
  .top-nav li {
    display: inline-block;
    float: left; }
    .top-nav li a {
      padding: 0;
      padding-top: 6px;
      padding-bottom: 5px;
      line-height: 20px;
      color: #fff;
      -webkit-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
      .top-nav li a:hover {
        color: #000; }
  .top-nav .open .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    z-index: 9999;
    border-radius: 0; }
    .top-nav .open .dropdown-menu li {
      color: #000; }
      .top-nav .open .dropdown-menu li a {
        background-color: rgba(255, 255, 255, 0.3);
        color: #000;
        min-width: 218px;
        color: #383838; }
        .top-nav .open .dropdown-menu li a:hover {
          background-color: #ccc;
          color: #000; }

ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto; }

/* Width User logged */
li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15); }

li.message-preview > a {
  padding-top: 15px;
  padding-bottom: 15px; }

li.message-footer {
  margin: 5px 0; }

ul.alert-dropdown {
  width: 200px; }

@media (max-width: 767px) {
  .top-nav {
    display: none; } }
.navRightTopItem {
  margin: 10px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff; }
  .navRightTopItem .fa {
    background-color: transparent;
    color: #fff;
    margin-left: 5px;
    transition: all 0.3s ease 0s; }
    .navRightTopItem .fa:hover {
      color: #272727;
      cursor: pointer; }

.navRightTopItemOptions {
  padding: 10px;
  margin: 0 10px 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff; }
  .navRightTopItemOptions .fa {
    background-color: transparent;
    margin-left: 10px;
    color: #383838; }

.wrapOverlayItem {
  width: 87%;
  margin: auto;
  padding: 0 10px;
  overflow: hidden; }

.selectItemProd1 {
  transition: all 0.3s ease 0s; }

.selectItemProd2 {
  transition: all 0.3s ease 0s;
  background-color: #ccc;
  -webkit-box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.35); }

.overlayItem {
  margin-top: 15px;
  width: 277px;
  max-width: 100%; }
  .overlayItem h2, .overlayItem h3, .overlayItem h4, .overlayItem p, .overlayItem span {
    color: #000;
    text-align: left;
    font-weight: 300;
    font-size: 14px; }
  .overlayItem span {
    font-size: 14px;
    font-weight: 300;
    color: #000; }
  .overlayItem img {
    max-width: 100%; }

.overlayDetails {
  padding: 10px 15px 0; }
  .overlayDetails hr {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #c1c1c1; }
  .overlayDetails:hover {
    cursor: pointer; }

.more:link, .more:visited {
  transition-duration: 0.2s;
  transition-timing-function: ease-out; }

.show {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #fff;
  display: block; }
  .show .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0; }

.selectedItem {
  width: 247px;
  height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  cursor: default;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 1000; }
  .selectedItem .fa {
    font-size: 50px;
    margin-top: 45%;
    text-align: center;
    color: #fff; }
  .selectedItem:hover {
    cursor: pointer; }

.aspect {
  position: relative;
  padding-bottom: 120%;
  height: 0;
  overflow: hidden; }

.overlay1 a.more {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #FFF;
  color: #222;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000;
  position: relative;
  border: 1px solid #999; }
  .overlay1 a.more:hover {
    box-shadow: 0 0 5px #000; }
.overlay1 img {
  transition: all 0.2s linear; }
.overlay1 .mask {
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all 0.4s ease-in-out; }
.overlay1 h2 {
  color: #f2f2f2;
  margin-top: 10%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.7); }
.overlay1 p {
  opacity: 0;
  transition: all 0.2s linear; }
.overlay1 a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out; }
.overlay1:hover .mask {
  opacity: 1; }
.overlay1:hover h2, .overlay1:hover p, .overlay1:hover a.info {
  opacity: 1; }
.overlay1:hover p {
  transition-delay: 0.1s; }
.overlay1:hover a.info {
  transition-delay: 0.2s; }

.glasscontainer1 {
  width: auto;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px 5px;
  text-align: center;
  padding-bottom: 15px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.glassListRow {
  width: auto;
  background-color: rgba(255, 255, 255, 0.4);
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.glassListRow2 {
  width: auto;
  background-color: rgba(201, 201, 201, 0.51);
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.filerow {
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px; }
  .filerow:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2); }

#filteritem {
  display: none; }

#filtersuser {
  display: none; }

.filterdiv {
  width: auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 30px;
  margin-top: -20px; }

.form-controlit {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  max-width: 250px;
  color: #555;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  display: inline; }

.inputsgral {
  padding: 0 5px; }

.maxW {
  max-width: 800px; }

.windowHead {
  background-color: #c36565;
  padding: 10px 0;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  -webkit-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69);
  box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69); }
  .windowHead .fa {
    color: #ba4545; }
  .windowHead h3 {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-align: left; }

.additemdiv, .addItemDiv {
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.49);
  -webkit-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69);
  box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69);
  padding-top: 20px;
  padding-bottom: 20px;
  transition: all 0.3s ease 0s;
  width: 100%; }

.addItemTit {
  text-align: center;
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
  transition: all 0.3s ease 0s; }
  .addItemTit h3 {
    color: #3d515c;
    text-align: center; }

.donediv {
  background-color: #c36565;
  padding: 25px 0 10px 0;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  -webkit-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69);
  box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69);
  transition: all 0.3s ease 0s;
  z-index: 500; }

.addItemNoformTit {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px 10px; }

.addItemSizes {
  text-align: center;
  margin: 0;
  margin-top: 15px; }
  .addItemSizes ul {
    padding: 2px; }
    .addItemSizes ul li {
      text-align: center;
      display: inline-block;
      width: 39px;
      margin-top: 2px;
      margin-bottom: 2px;
      background-color: rgba(255, 255, 255, 0.5); }

.addItemSizes .checkbox-custom, .addItemSizes .checkbox-custom-label, .addItemSizes .radio-custom, .addItemSizes .radio-custom-label {
  padding-top: 4px; }

.addItemSizes .checkbox-custom + .checkbox-custom-label:before, .addItemSizes .radio-custom + .radio-custom-label:before {
  border: 0 !important; }

.addItemDescription {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px; }

.itemimgmain {
  padding: 30px 0 20px 0; }

.formNewItem, .form-controlusers, .form-controlitems {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  max-width: 100%;
  border: 0;
  border-bottom: 1px solid #39465B;
  background-color: transparent; }

.checkboxSelProd input[type="checkbox"], input[type="radio"] {
  margin: 0;
  width: 50px; }
  .checkboxSelProd input[type="checkbox"]:hover, input[type="radio"]:hover {
    cursor: pointer; }

.imgSelector {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto; }
  .imgSelector img {
    position: absolute;
    display: block;
    z-index: 1;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin: 0 auto; }

.imgSelectorInner {
  width: 180px;
  margin: 0 auto;
  height: 180px; }

.imgSelectorContent {
  position: absolute;
  display: table;
  z-index: 2;
  opacity: 0;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  transition: all 0.3s ease 0s; }
  .imgSelectorContent:hover {
    opacity: 1;
    background: rgba(34, 34, 34, 0.62) center no-repeat; }
  .imgSelectorContent .fa {
    font-size: 35px;
    color: #fff; }
  .imgSelectorContent div {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    color: #fff; }

@media (max-width: 290px) {
  .imgSelectorInner, .imgSelectorContent {
    width: 140px;
    height: 140px; }

  .imgSelector img {
    width: 140px;
    height: 140px; } }
.imgWindow {
  padding: 0;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.2); }

.imgWindowTitle {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 5px 15px;
  margin: 0 auto;
  margin-bottom: 10px; }

.imgHover:hover {
  border: 1px solid red;
  cursor: pointer; }

.imgHover2 {
  transition: all 0.3s ease 0s; }
  .imgHover2:hover {
    cursor: pointer;
    -webkit-box-shadow: 1px -1px 6px 5px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 1px -1px 6px 5px rgba(0, 0, 0, 0.19);
    box-shadow: 1px -1px 6px 5px rgba(0, 0, 0, 0.19); }

.activeImgs {
  border: 1px solid rgba(143, 81, 148, 0.52);
  padding: 12px 12px 7px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }
  .activeImgs ul li {
    display: inline-block;
    margin: 0 auto; }
    .activeImgs ul li img {
      position: absolute;
      display: block;
      z-index: 1;
      width: 120px;
      height: 120px;
      margin: 0 auto; }
    .activeImgs ul li span {
      position: absolute;
      vertical-align: middle;
      display: table;
      z-index: 2;
      opacity: 0;
      width: 120px;
      height: 120px;
      text-align: center;
      transition: all 0.3s ease 0s;
      color: #fff; }
      .activeImgs ul li span:hover {
        opacity: 1;
        background: rgba(5, 110, 144, 0.8) center no-repeat;
        cursor: pointer; }
        .activeImgs ul li span:hover div {
          display: table-cell;
          vertical-align: middle;
          cursor: pointer;
          color: #fff; }
    .activeImgs ul li i.delImgIco {
      position: absolute;
      right: 0;
      padding: 5px 8px;
      border-radius: 100%;
      background-color: #a3a3a3;
      color: #fff;
      margin-right: 5px;
      margin-top: 5px;
      transition: all 0.3s ease 0s; }
      .activeImgs ul li i.delImgIco .fa {
        color: #fff; }
      .activeImgs ul li i.delImgIco:hover {
        background-color: #c44848; }
    .activeImgs ul li i.moveImg {
      font-size: 25px;
      padding: 5px 8px;
      position: relative;
      top: 45px; }
      .activeImgs ul li i.moveImg .fa {
        font-size: 35px; }
    .activeImgs ul li i.moveLeft {
      background-color: white;
      border-radius: 20px 0px 0px 20px;
      font-size: 19px;
      padding: 5px 8px;
      position: absolute;
      bottom: 5px;
      left: 5px;
      color: #ab5b5b;
      transition: all 0.3s ease 0s; }
      .activeImgs ul li i.moveLeft:hover {
        background-color: #b8b8b8;
        color: #fff; }
    .activeImgs ul li i.moveRight {
      background-color: white;
      border-radius: 0px 20px 20px 0px;
      font-size: 19px;
      padding: 5px 8px;
      position: absolute;
      bottom: 5px;
      right: 5px;
      color: #ab5b5b; }
      .activeImgs ul li i.moveRight:hover {
        background-color: #b8b8b8;
        color: #fff; }

.tipAndButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center; }

@media (max-width: 700px) {
  .tipAndButton {
    display: block;
    border: 1px solid red; } }
.imgGallery {
  border: 1px solid rgba(233, 33, 33, 0.52); }
  .imgGallery ul li {
    display: inline-block;
    margin: 0 auto; }
    .imgGallery ul li img {
      width: 50px;
      height: 50px; }
    .imgGallery ul li span {
      width: 50px;
      height: 50px; }
    .imgGallery ul li i.delImgIco {
      margin-right: -5px;
      margin-top: -4px;
      background: 0;
      font-size: 14px; }
    .imgGallery ul li i.moveImg {
      font-size: 12px;
      top: 14px; }

.selectImgGalleries {
  -webkit-box-shadow: 1px -1px 6px 5px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 1px -1px 6px 5px rgba(0, 0, 0, 0.19);
  box-shadow: 1px -1px 6px 5px rgba(0, 0, 0, 0.19); }

.singleImg {
  margin: 0 auto; }
  .singleImg ul li {
    margin: 5px;
    width: 120px;
    height: 120px;
    text-align: center;
    display: inline-block; }
    .singleImg ul li span:hover {
      opacity: 1;
      background: rgba(5, 110, 144, 0.2) center no-repeat;
      cursor: pointer; }

.treeDivRow {
  padding: 20px 20px 0;
  margin: 0 auto; }

.checkboxTitle {
  background-color: rgba(255, 255, 255, 0.71);
  border-radius: 5px 5px 0 0; }
  .checkboxTitle h5 {
    margin: 0;
    padding: 10px 0;
    text-align: center; }

.checkboxDiv {
  width: 100%; }
  .checkboxDiv ul {
    margin: 0 auto;
    -webkit-box-shadow: 3px 4px 9px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 9px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 4px 9px -9px rgba(0, 0, 0, 0.75); }
    .checkboxDiv ul li {
      padding-top: 4px;
      padding-bottom: 4px;
      padding-left: 10px;
      margin: 0 auto;
      color: white;
      transition: all 0.2s ease 0s; }
      .checkboxDiv ul li i {
        color: #f1f1f1;
        margin-right: 5px; }
      .checkboxDiv ul li:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.34); }
        .checkboxDiv ul li:hover label {
          color: #383838; }
  .checkboxDiv label {
    font-size: 14px;
    font-weight: 400; }

.treeLv1 {
  background-color: rgba(33, 82, 148, 0.4); }

.treeLv2 {
  background-color: rgba(65, 107, 164, 0.41);
  padding-left: 15px !important; }

.treeLv3 {
  background-color: rgba(85, 125, 179, 0.4);
  padding-left: 20px !important; }

.treeArrow {
  position: relative;
  float: right;
  margin-top: -20px;
  margin-right: 10px; }

.checkboxtree {
  max-width: 250px;
  text-align: left;
  list-style: none; }
  .checkboxtree li ul li {
    margin-left: 30px; }

.checkboxgroup ul {
  display: inline-block;
  list-style: none; }
  .checkboxgroup ul li {
    content: "";
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center; }
  .checkboxgroup ul li:checked {
    background: #056e90;
    box-shadow: inset 0px 0px 0px 4px #fff; }

.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute; }

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 1px 5px;
  cursor: pointer; }

.checkbox-custom-label, .radio-custom-label {
  position: relative; }

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
  content: "";
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 2px;
  text-align: center; }

.checkbox-custom:checked + .checkbox-custom-label:before {
  background: #056e90;
  box-shadow: inset 0px 0px 0px 4px #fff; }

.OnOffDiv {
  background-color: #fff;
  padding: 15px 0;
  top: 0;
  left: 0;
  right: 0; }
  .OnOffDiv .bootstrap-switch .bootstrap-switch-label {
    background-color: #ccc; }
  .OnOffDiv .bootstrap-switch {
    border: 1px solid #a4a4a4; }
  .OnOffDiv .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .OnOffDiv .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
    background-color: #335e98; }

.switchDiv .bootstrap-switch .bootstrap-switch-label {
  background-color: #ccc; }
.switchDiv .bootstrap-switch {
  border: 2px solid #fff; }
.switchDiv .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .switchDiv .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  background-color: #5dab69; }
.switchDiv .bootstrap-switch.bootstrap-switch-focused {
  box-shadow: none; }

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #fff;
  background: #a84646; }

.switchHead {
  padding-top: 5px; }

@media only screen and (max-width: 767px) {
  .wrapOverlayItem {
    width: 100%;
    margin: auto;
    overflow: hidden; }

  .mobile-clear {
    clear: both; } }
.circles {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 5px 5px; }

.circlesDisplay {
  margin: 0; }

.circle {
  width: 20px;
  height: 20px;
  border-radius: 100%; }

.circleAddItem {
  width: 30px;
  height: 30px;
  margin: 2px;
  transition: all 0.3s ease 0s; }
  .circleAddItem:hover {
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    border: 1px solid #fff; }

.circleAddItemSelected {
  background-color: #da6363 !important;
  -webkit-box-shadow: inset 6px 9px 9px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 6px 9px 9px -9px rgba(0, 0, 0, 0.75);
  box-shadow: inset 6px 9px 9px -9px rgba(0, 0, 0, 0.75); }

.circleAddItemSelected:before {
  content: "X";
  font-weight: 800;
  color: white;
  left: 10px;
  position: relative;
  top: 5px; }

.circleInput {
  border-radius: 100%; }
  .circleInput input {
    border: 0;
    width: 25px;
    height: 25px; }
    .circleInput input:hover {
      cursor: pointer; }

.delColBtn {
  margin-left: 15px;
  margin-top: 5px;
  color: #fff; }
  .delColBtn .fa {
    color: #fff; }
  .delColBtn:hover .fa {
    color: #fff;
    background-color: #b44f4f; }

.colorPalette {
  width: 30px;
  height: 30px;
  margin: 2px;
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease 0s; }
  .colorPalette img {
    width: 30px; }
  .colorPalette:hover {
    filter: brightness(1.2);
    cursor: pointer; }

.delModDiv {
  position: absolute;
  padding: 10px 0;
  bottom: 0;
  left: 0;
  right: 0; }

.delModDivList {
  position: absolute;
  padding: 4px 0;
  left: 0;
  right: 0;
  bottom: 0; }

.listRow {
  color: #383838;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: left;
  height: 50px;
  margin: 5px;
  padding: 5px; }
  .listRow div:nth-child(1) {
    text-align: center; }
  .listRow div:nth-child(n+2) {
    border-right: 1px solid rgba(222, 222, 222, 0.51); }
  .listRow div:last-child {
    border-right: 0 !important;
    padding-left: 5px;
    padding-right: 0;
    min-width: 90px; }
  .listRow img {
    border-radius: 100%;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer; }
  .listRow p {
    padding: 10px 0; }

.listHover:hover {
  background-color: rgba(255, 255, 255, 0.59);
  -webkit-box-shadow: inset 2px 3px 5px -3px rgba(255, 255, 255, 0.59);
  -moz-box-shadow: inset 2px 3px 5px -3px rgba(255, 255, 255, 0.59);
  box-shadow: inset 2px 3px 5px -3px rgba(255, 255, 255, 0.59);
  cursor: pointer; }

.listSelect {
  background-color: rgba(115, 198, 198, 0.23);
  -webkit-box-shadow: inset 2px 3px 5px -3px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: inset 2px 3px 5px -3px rgba(0, 0, 0, 0.54);
  box-shadow: inset 2px 3px 5px -3px rgba(0, 0, 0, 0.54); }
  .listSelect p {
    color: #fff; }

.listTits {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff; }

.viewListMobile {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: cente;
  align-items: center;
  color: #000;
  padding: 0;
  margin: 0;
  margin: 2px 0;
  position: relative; }
  .viewListMobile:hover {
    cursor: pointer; }

.viewListMobileLarge {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  color: #000;
  padding: 0;
  margin: 0;
  margin: 2px 0;
  position: relative;
  padding: 5px; }
  .viewListMobileLarge p {
    max-width: 50%; }
  .viewListMobileLarge img {
    border-radius: 100%;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    padding: 0; }
  .viewListMobileLarge:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.59); }

.listSelectMobileLarge {
  background-color: rgba(115, 198, 198, 0.23);
  -webkit-box-shadow: inset 2px 3px 5px -3px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: inset 2px 3px 5px -3px rgba(0, 0, 0, 0.54);
  box-shadow: inset 2px 3px 5px -3px rgba(0, 0, 0, 0.54); }
  .listSelectMobileLarge p {
    color: #fff; }

.viewListMobileMod {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 40%;
  height: 100%;
  right: 0;
  top: 0;
  text-align: center; }

.viewListMobile2 div {
  padding-left: 2px; }
.viewListMobile2 img {
  border-radius: 100%;
  margin: 4px 0;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-left: 5px; }

@media (max-width: 500px) {
  .viewListMobile2 img {
    width: 35px;
    height: 35px; } }
.listMobileSelected {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  background-color: #6f6ac9;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%; }
  .listMobileSelected .fa {
    color: #fff; }

@media (min-width: 1200px) {
  .viewListMobile1, .viewListMobile2 {
    display: none !important; } }
/* No greater than 1199px, no less than 500px */
@media (max-width: 1199px) and (min-width: 500px) {
  .viewListMobile2, .viewlist {
    display: none !important; } }
@media (max-width: 500px) {
  .viewListMobile1, .viewlist {
    display: none !important; } }
.menuIcons ul li {
  display: inline; }
  .menuIcons ul li .fa {
    font-size: 20px;
    margin: 6px;
    color: #464646;
    transition: all 0.3s ease 0s; }
    .menuIcons ul li .fa:hover {
      cursor: pointer;
      color: #335e98; }

.shadow {
  -webkit-box-shadow: 0px -2px 5px 1px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px -2px 5px 1px rgba(0, 0, 0, 0.26);
  box-shadow: 0px -2px 5px 1px rgba(0, 0, 0, 0.26); }

.cardContainer {
  display: flex;
  justify-content: center; }

@media (max-width: 1200px) {
  .cardContainer {
    flex-wrap: wrap; } }
.genCard {
  position: relative;
  border-radius: 5px;
  text-align: center;
  max-width: 300px;
  margin: 5px;
  padding: 5px; }
  .genCard a {
    color: #000; }

.genCardHead {
  background-color: #c66a6a;
  width: 100%;
  padding: 20px 0;
  border-radius: 5px 5px 0 0;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 6px 5px -6px rgba(0, 0, 0, 0.75); }
  .genCardHead .fa {
    text-align: center;
    background-color: white;
    border-radius: 100%;
    padding-top: 12px;
    font-size: 45px;
    width: 70px;
    height: 70px;
    color: #474747; }
  .genCardHead:hover {
    background-color: #a8a8bd;
    cursor: pointer; }

.genCardContent {
  padding: 10px 0;
  transition: all 0.3s ease 0s;
  background-color: white;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 7px -4px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px -4px 5px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 7px -4px 5px -6px rgba(0, 0, 0, 0.75); }
  .genCardContent span {
    font-size: 15px; }

.demotittles {
  margin: 50px 10px 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.49); }

.democheck {
  background-color: rgba(255, 255, 255, 0.49);
  padding: 50px; }

.mainDemoTitles {
  margin: 20px 0;
  padding: 5px 0;
  background-color: rgba(255, 255, 255, 0.49); }
  .mainDemoTitles h2 {
    text-align: center;
    color: #383838;
    font-weight: 300; }

.demoButtons {
  background-color: rgba(218, 218, 218, 0.45);
  padding: 15px; }

/*# sourceMappingURL=main.css.map */
