/* VALIDATION */
.ErrorText											{text-align:left; padding:0px; margin:0px; background:url(../images/body/icons/bullet_error.png) no-repeat top left; padding-left:15px; font-size:12px; color: #DD0000;}
.ValiditySpan										{padding:2px;}
.ValiditySpanError									{padding:0px; border-left:2px solid #D00;}