#features {
  margin: auto;
  font-size: 0.9em;
}
.connected, .sortable, .exclude, .handles {
  margin: auto;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sortable.grid {
  /*overflow: hidden;*/
}
.connected li, .sortable li, .exclude li, .handles li {
  list-style: none;
  font-family: "Tahoma";
  color: #1C94C4;
  height: 22px;
}
.handles span {
  cursor: move;
}
li.disabled {
  opacity: 0.5;
}
.sortable.grid li {
  margin: 5px;
  width: 120px;
  height: 120px;
  text-align: center;
}

.sortable.grid.no2 li {
  width: 50px;
  height: 50px;
}

#connected {
  /*overflow: hidden;*/
  height: auto;
  margin: auto;
}
/*.connected {
  float: left;
}
.connected.no2 {
  float: left;
}*/
li.sortable-placeholder {
  border: 2px dashed #696969;
  background-color: rgba(255, 255, 255, 0.5)
}
