
// Gradient del Top
$colorTop1: #335e98
$colorTop2: #053d54
$topTextBrand: #fff

// Main Colors
$mainWhite: rgba(255, 255, 255, 0.71)
$greenTransp: rgba(79, 126, 145, 0.56)
$mainblue: #335e98
$lightBlue: rgba(65, 107, 164, 0.81)

//// COLORS /////

$texts: #383838
$mainbluehover: #388fab
$mainred: #ba4545
$mainredhover: #C06060
$gris: #D8D8D8


// HeadItemsColor
$titsHead: rgba(0, 0, 0, 0.1)



$contentWrapper: rgb(255, 255, 255)

// TITLE DIV
$titleDivTop: rgba(255, 255, 255, 0.88)

// SIDE MENU
$mainMenuTxt: 14px
$mainMenuBack: rgba(0, 0, 0, 0.3)
$mainMenuLi: transparent
$mainMenuLiHover: #4f7e91
$mainMenuLiText: #fff


$mainMenuDDBack: rgba(30, 79, 99, 0.6)

// SideMenu Icons
$mainMenuIconTxt: 18px
$mainMenuIconsShadow: 0px 0px 4px rgb(9, 9, 9)
$mainMenuIcons: #a24141
$mainMenuIconsHover: #9f3232

$mainMenuIconsDD: #91ebc1
$mainMenuDDTxt: 14px
$mainMenuIconsDDTxt: 14px


$menuLine1: 4px solid rgba(#a4a4a4, 0.37)
$menuLine2: 4px solid rgba(#a4a4a4, 0.37)
$menuLine3: 4px solid rgba(#a4a4a4, 0.37)

/// LISTS ///
$listRowColor: rgba(255, 255, 255, 0.4)
$listRowHoverColor: rgba(255, 255, 255, 0.59)
$listRowText: #383838
$listSelect: rgba(115, 198, 198, 0.23)

$listTitText: #fff

//// CHECKBOX ////
$checkBoxLv1: rgba(33, 82, 148, 0.4)
$checkBoxLv2: rgba(65, 107, 164, 0.41)
$checkBoxLv3: rgba(85, 125, 179, 0.4)

//// GENERIC CARDS ////
$genericCard: $titsHead
$genericCardHover: rgb(168, 168, 189)
$genericCardIconBack: rgba(255, 255, 255, 1)
$genericCardContent: rgba(255, 255, 255, 1)
$genericCardIcon: #474747







//////////////////////// TOP  /////////////////////////
$maintop: #4379b1

// Side
$side: #fff
$sidenavlines: #383838
$sideline1: 4px solid #ba4545
$sideline2: 4px solid #bf6b6b
$sideline3: 4px solid #db8c8c
$sideline4: 4px solid #e0a4a4
$hoverside: #fff
$hoversidetxt: #000
$sideddtxt: $texts
$sideddtxthover: #383838
$sideddmenutxt: #000
$sideddmenutxthover: #000

$siderightlinechild: greenrgb(160, 161, 119)

/////////////////////// ALERTS ////////////////////////
$alertGreen: rgb(150, 161, 113)


////////// Main Colors ///////////////////////////////////////////////////



// Windows
$innerwindow: rgba(255, 255, 255, 0.2)
$transpContainer: rgba(255, 255, 255, 0.49)

// Icons
$icons: #000

// User name
$username: #fff
$usernamehover: $mainblue
$usernametxthover: #000

// User dropdown text
$userddhover: #ccc
$userdd: #000
$userddtxthover: #000

// ITEMS
//======================
$gridcontent: #fff
$carttxt: #000
$itemdiv: #fff

// Item File
$itemfilediv: #fff
$listhover: #ccc
$listhovertxt: #000

// Item creation Window
$additemtit: #3d515c



//
// // Subtop
// //========================
// // Icons
// $subtopic: transparent
// $subtopictxt: $texts
// $subtopictxthover: #383838
//
// // Date
// $datetxt: #fff



// POP UPS
//========================
// Delete pop up
//------------------------
// Window color
$popupbck: #fff

// Cancel
$deletebtn: $mainred
$deletebtnhover: $mainredhover
$deletebtntxt: #fff
$deletebtnhovertxt: #fff

///////Confirm //////////////////
$confirmbtn: #056e85
$confirmbtnhover: #098aa6
$confirmbtntxt: #fff
$confirmbtnhovertxt: #fff


////////// Pagination//////////////
$pagbk: #FFF
$pagtxt: #000
$pagborder: transparent

///////// LOGIN //////////////////
$logback: #fff
$maintitdiv: #fff
$loguserpass: #fff
$logtit: #383838
$logbtn: $mainblue
$logbtnhover: $mainbluehover
$logbtntxt: #fff
$logbtntxthover: #ccc
$logtxtgen: #383838
$logicons: #474747

// Forms
//=========================
// Additems
$placeHolderColor: #000
$placeHolderSize: 14px
$placeHolderAlign: left

// Del and Mod
//========================
$delbtn: $mainred
$delbtnhover: $mainredhover
$delbtnactfoc: #e5817f
$delbtntxt: #fff
$delbtntxthover: #fff
$delbtntxtacfoc: #fff

$modbtn: $mainblue
$modbtnhover: $mainbluehover
$modbtnacfoc: #1f917a
$modbtntxt: #fff
$modbtntxthover: #fff
$modbtntxtacfoc: #fff

//// LOGIN /////
$loginBack: linear-gradient(to bottom, #8c839b 0, rgba(40, 39, 41, 0.52) 50%)

////////// BUTTONS ///////////

//.mainbtn
$mainbtn: linear-gradient(to bottom,#3f9ebd 0,#4379b1 95%)
$mainbtnhover: linear-gradient(to bottom,#388fab 0,#3a6da2 95%)
$maintbtntxt: #fff
//.mainbtnred
$mainbtnred: linear-gradient(to bottom,#9f433b 0,#935953 95%)
$mainbtnredhover: linear-gradient(to bottom,#a13931 0,#a35249 95%)
//.thirdBtn
$thirdBtn: linear-gradient(to bottom,#868a3b 0,#9a9e4d 95%)
$thirdBtnHover: linear-gradient(to bottom,#707334 0,#828642 95%)

//.selectBtn
$selectBtn: linear-gradient(to bottom,#b0afaf 0,#d6d6d6 95%)
$selectBtnHover: linear-gradient(to bottom,#9e9999 0,#d0cbcb 95%)
$selectBtnSelected: rgb(68, 196, 62)
//Btn Gral
$btnok: #056e90
$btnoktxt: #fff

//Btn Gral Hover
$btnokhover: #197a99
$btnoktxthover: #000

$searchbtn: #056e85
$searchbtnhover: #77668F
$searchbtntxt: #fff
