//// COLORS /////

$wh: #fff
$blk: #000
$texts: #383838
$mainblue: #056e90
$mainbluehover: #388fab
$mainred: #ba4545
$mainredhover: #C06060
$gris: #D8D8D8

$gradWhite: linear-gradient(to bottom,#ffffff 0,#cbcbcb 95%)
$gradWhiteHover: linear-gradient(to bottom,#f4f2f2 0,#b8b8b8 95%)

//// LOGIN /////
$loginBack: linear-gradient(to bottom, #8c839b 0, rgba(40, 39, 41, 0.52) 50%)

////////// BUTTONS ///////////

//.mainbtn
$mainbtn: linear-gradient(to bottom,#3f9ebd 0,#4379b1 95%)
$mainbtnhover: linear-gradient(to bottom,#388fab 0,#3a6da2 95%)
$maintbtntxt: #fff
//.mainbtnred
$mainbtnred: linear-gradient(to bottom,#a23229 0,#cb5345 95%)
$mainbtnredhover: linear-gradient(to bottom,#a13931 0,#be4a3d 95%)
//.thirdBtn
$thirdBtn: linear-gradient(to bottom,#868a3b 0,#9a9e4d 95%)
$thirdBtnHover: linear-gradient(to bottom,#707334 0,#828642 95%)

//.selectBtn
$selectBtn: linear-gradient(to bottom,#b0afaf 0,#d6d6d6 95%)
$selectBtnHover: linear-gradient(to bottom,#9e9999 0,#d0cbcb 95%)
$selectBtnSelected: rgb(68, 196, 62)
//Btn Gral
$btnok: #056e90
$btnoktxt: #fff

//Btn Gral Hover
$btnokhover: #197a99
$btnoktxthover: #000

$searchbtn: #056e85
$searchbtnhover: #77668F
$searchbtntxt: #fff

//////////////////////// TOP  /////////////////////////
$maintop: #4379b1
$subtop: #fff
$toptxt: #fff

// Side
$side: #fff
$sidenavlines: #383838
$sideline1: 4px solid #ba4545
$sideline2: 4px solid #bf6b6b
$sideline3: 4px solid #db8c8c
$sideline4: 4px solid #e0a4a4
$sidetxt: #000
$hoverside: #fff
$hoversidetxt: #000
$sideddtxt: $texts
$sideddtxthover: #383838
$sideddmenutxt: #000
$sideddmenutxthover: #000

$siderightlinechild: green

/////////////////////// ALERTS ////////////////////////
$alertGreen: rgb(145, 167, 72)
