////////// Top Banner /////////////////////////////
.topCatBanner
  margin-top: -110px
  height: 50px
  img
    min-width: 100%
    max-width: 100%

/////////////// Item Or Product Overlay /////////////////////////////////
.wrapOverlayItem
  width: 87%
  margin: auto
  padding: 0 10px
  overflow: hidden

.overlayItem
  max-width: 277px
  h2,h3,h4,p,span
    color: #000
    text-align: left
    font-weight: 300
    font-size: 14px
  span
    font-size: 14px
    font-weight: 300
    color: #000
  img
    max-width: 100%

.overlayDetails
  padding: 10px 15px 0
  margin-top: 40px
  hr
    margin-top: 5px
    margin-bottom: 5px
    border: 0
    border-top: 1px solid #c1c1c1
  &:hover
    cursor: pointer
.more:link, .more:visited
  transition-duration: 0.2s
  transition-timing-function: ease-out

.show
  width: 100%
  height: 100%
  float: left
  overflow: hidden
  position: relative
  text-align: center
  cursor: default
  background: #fff
  display: block
  .mask
    width: 100%
    height: 100%
    position: absolute
    overflow: hidden
    top: 0
    left: 0

.aspect
  position: relative
  padding-bottom: 120%
  height: 0
  overflow: hidden

.overlay1
  a.more
    display: inline-block
    text-decoration: none
    padding: 7px 14px
    background: #FFF
    color: #222
    text-transform: uppercase
    box-shadow: 0 0 1px #000
    position: relative
    border: 1px solid #999
    &:hover
      box-shadow: 0 0 5px #000
  img
    transition: all 0.2s linear
  .mask
    opacity: 0
    background-color: rgba(255,255,255, 0.7)
    transition: all 0.4s ease-in-out
  h2
    color: #f2f2f2
    margin-top: 10%
    opacity: 0
    transition: all 0.2s ease-in-out
    background: rgba(0,0,0,0.7)
  p
    opacity: 0
    transition: all 0.2s linear
  a.info
    opacity: 0
    transition: all 0.2s ease-in-out
  &:hover
    // img
    //  transform: scale(1.1)
    .mask
      opacity: 1
    h2,p,a.info
      opacity: 1
    p
      transition-delay: 0.1s
    a.info
      transition-delay: 0.2s

////////////////    GENERIC WINDOWS     //////////////////////////////

//////////// Main Containers ////////////////////

.glasscontainer1
  width: auto
  background-color: rgba(0,0,0, .1)
  padding: 10px 5px
  text-align: center
  padding-bottom: 15px
  -webkit-transition: all 0.3s ease-out
  -moz-transition: all 0.3s ease-out
  -ms-transition: all 0.3s ease-out
  -o-transition: all 0.3s ease-out
  transition: all 0.3s ease-out

.glassListRow
  width: auto
  background-color: rgba(0,0,0, .1)
  text-align: center
  -webkit-transition: all 0.3s ease-out
  -moz-transition: all 0.3s ease-out
  -ms-transition: all 0.3s ease-out
  -o-transition: all 0.3s ease-out
  transition: all 0.3s ease-out

.filerow
  margin: 5px
  padding-left: 15px
  padding-right: 15px
  &:hover
    cursor: pointer
    background-color: rgba(0,0,0, .2)

///////////// OPTION DIVS ////////////////////////////////////////

.optionsdiv
  padding-bottom: 20px
  padding-top: 20px
  margin: 0 auto
  margin-top: 20px
  margin-bottom: 20px

.delselected
  padding: 5px 20px
  margin: 0 auto
  margin: 0 15px
  box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5)
  border: none
  -webkit-transition: all 0.5s ease 0s
  transition: all 0.5s ease 0s
  background-color: $mainred
  color: $maintbtntxt
  cursor: pointer
  &:hover
    box-shadow: 0 0 0
    background-color: $mainredhover


/////////////////// NEW USER OR ITEM //////////////////////////////////

//////// Item Creation Window //////////////////////////////////////

$addItemWidth: 800px

.maxW
  max-width: $addItemWidth

.windowHead
  background-color: rgba(255,255,255,.9)
  padding: 10px 0
  max-width: $addItemWidth
  margin: 0 auto
  text-align: center
  -webkit-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  .fa
    color: $mainred

.additemdiv, .addItemDiv
  max-width: $addItemWidth
  background-color: rgba(255,255,255,.4)
  -webkit-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  padding-top: 20px
  padding-bottom: 20px
.addItemTit
  text-align: center
  background-color: #fff
  max-width: $addItemWidth
  margin: 0 auto
  h3
    color: $additemtit
    text-align: center

.donediv
  background-color: rgba(255,255,255,.9)
  padding: 25px 0 10px 0
  max-width: $addItemWidth
  margin: 0 auto
  text-align: center
  -webkit-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)

.addItemSizesTit
  hr
    margin: 5px 0
    border: 1px solid rgba(0, 0, 0, 0.4)

.addItemSizes
  margin: 0
  margin-top: 15px
  ul
    padding: 2px
    li
      text-align: center
      display: inline-block
      // Sacar si el texto es más largo
      width: 39px
      margin-top: 2px
      margin-bottom: 2px
      background-color: rgba(255, 255, 255, .5)

.addItemSizes
  .checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label
    padding-top: 4px

.addItemSizes
  .checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before
    border: 0 !important


.addItemDescription
  background-color: $innerwindow
  padding: 5px 10px
.itemimgmain
  padding: 30px 0 20px 0

.formNewItem,.form-controlusers,.form-controlitems
  display: block
  width: 100%
  height: 34px
  padding: 6px 12px
  font-size: 14px
  line-height: 1.42857
  color: #555
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s
  max-width: 100%
  border: 0
  border-bottom: 1px solid #39465B
  background-color: transparent

///////////////////// IMAGES //////////////////////////////////////

/////////////////////// Image Dragger ////////////////////////////////////
// Big thum Img Active
.selectedImg
  margin: 0 auto
  img
    width: 200px
    transition: all 0.5s ease 0s
    &:hover
      cursor: pointer
      border: 5px solid white
      -webkit-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75)
      -moz-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75)
      box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75)

.dragImgPublic
  ul
    li
      &:hover
        overflow: hidden

.eraseImgX
  position: absolute
  cursor: pointer
  background-color: #fff
  i
    padding: 8px

.dragImgThumb
  margin-top: 20px
  ul
    li
      img
        width: 120px
        height: 120px
      &:hover
        cursor: move

.addNewImage
  span
    font-size: 15px
    font-weight: 700
    margin-left: 10px
    margin-top: 5px
  img
    height: 30px

.dragImgPublic
  border: 1px solid rgba(37, 147, 176,0.3)
  padding: 10px
  margin: 10px 0 20px 0
  ul
    li
      img
        width: 120px
        height: 120px

.dragImgTemp
  border: 1px solid rgba(193, 88, 88,0.3)
  padding: 10px
  img
    height: 50px
    width: 50px

.advancedDragBtn
  position: relative
  padding: 0

///////////// Multiple Image Window //////////////
.multipleImgWindow
  padding: 20px 10px
  background-color: $innerwindow

/////////// Single Image Window ///////////////////
.singleImgWindow
  padding: 20px 10px
  background-color: $innerwindow


.genericSingleImgs
  border: 1px solid rgba(193, 88, 88,0.3)
  padding: 10px
  margin-bottom: 5px

  // ul
  //   display: inline
  //   li
  //     list-style: none
  //     display: inline
.genImgThumb
  width: 80px
  height: 80px

.selectedSingleImg
  border: 1px solid rgba(37, 147, 176,0.3)
  padding: 10px
  ul
    li
      img
        border-radius: 100%
        max-width: 150px
        margin: 0 auto
    &:hover
      overflow: hidden

// Main Img of Category, User, Etc. (Individual image)
.singleImg
  cursor: pointer
  border-radius: 100%
  width: 150px
  height: 150px
  margin: 0 auto
  &:hover
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.5)

.addSingleImg
  border-radius: 100%
  width: 100px
  height: 100px
  transition: all 0.3s ease 0s
  &:hover
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.5)
    cursor: pointer

// Show Mod Icon on Img Hover

.overlaySingleImg
  margin: auto
  overflow: hidden

.overlayDetails
  padding: 10px 15px 0
  margin-top: 40px

.overlayInnerIcon
  width: 100%
  height: 100%
  float: left
  overflow: hidden
  position: relative
  text-align: center
  cursor: default
  display: block
  padding-bottom: 15px
  .mask
    width: 100%
    height: 100%
    margin-top: 65px
    position: absolute
    overflow: hidden
    top: 0
    left: 0
    p
      color: #fff

    .fa
      color: #fff
      font-size: 30px

.overlayIcon
  .mask
    opacity: 0
    transition: all 0.4s ease-in-out
    transition: all 0.3s ease 0s
  &:hover
    .mask
      opacity: 1
      cursor: pointer

    img
      box-shadow: 1px 7px 10px 0px rgba(0, 0, 0, 0.5)

.singleImgSelBtn
  position: absolute
  left: 0
  right: 0

.acceptBtnImgDiv
  margin-top: 15px

///////////////////// Buttons ////////////////////////////
.mainbtn
  padding: 5px 10px
  margin: 2px 2px
  border-radius: 0
  box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5)
  border: none
  -webkit-transition: all 0.5s ease 0s
  transition: all 0.5s ease 0s
  background-color: $mainbtn
  color: $maintbtntxt
  &:hover
    box-shadow: 0px 0px 0px
    background-color: $mainbtnhover
  &:focus, &:active
    box-shadow: 0px 0px 0px
    background-color: $mainbtnhover
a .mainbtn
  color: $logbtntxt

.mainbtnred
  background-color: $mainred
  &:hover
    box-shadow: 0px 0px 0px
    background-color: $mainredhover
  &:focus, &:active
    box-shadow: 0px 0px 0px
    background-color: $mainredhover

.acceptBtn
  position: absolute
  right: 0
  bottom: 0
  padding: 5px 10px
  margin: 20px
  border: none
  color: #000

.switchRight
  padding-top: 10px
///
.closeBtn
  position: absolute
  right: 0
  top: 0
  padding: 5px 10px
  border: none
  border-radius: 0
  color: #000
  background-color: #b8b8b8
  transition: all 0.3s ease 0s
  &:hover
    background-color: #dedede
  &:focus, &:active
    box-shadow: 0px 0px 0px
    background-color: trasparent
  .fa
    color: #000

/////////// TREES / CHECKBOXES ////////////////////////////

.treeDivContainer
  background-color: $innerwindow
  padding: 20px 20px 0

.checkboxDiv
  padding: 20px
  background-color: rgba(255, 255, 255,.7)
  ul
    margin: 0 auto
    li
      max-width: 200px
      margin: 3px 0
      padding: 2px 0
      background-color: rgba(255, 255, 255,.7)
      border: 1px solid rgb(200, 200, 200)
      margin: 0 auto
  label
    font-size: 14px
    font-weight: 400

.checkboxtree
  max-width: 250px
  text-align: left
  list-style: none
  li
    ul
      li
        margin-left: 30px

.checkboxgroup
  ul
    display: inline-block
    list-style: none
    li
      content: ''
      background: #fff
      border: 2px solid #ddd
      display: inline-block
      vertical-align: middle
      width: 20px
      height: 20px
      padding: 2px
      margin-right: 10px
      text-align: center
    li:checked
      background: #056e90
      box-shadow: inset 0px 0px 0px 4px #fff

.checkbox-custom, .radio-custom
  opacity: 0
  position: absolute

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label
  display: inline-block
  vertical-align: middle
  margin: 1px 5px
  cursor: pointer

.checkbox-custom-label, .radio-custom-label
  position: relative

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before
  content: ''
  background: #fff
  border: 2px solid #ddd
  display: inline-block
  vertical-align: middle
  width: 20px
  height: 20px
  padding: 2px
  margin-right: 2px
  text-align: center

.checkbox-custom:checked + .checkbox-custom-label:before
  background: #056e90
  box-shadow: inset 0px 0px 0px 4px #fff

/////////////////////// Drag And Drop /////////////////////////////////

.gridly
  position: relative
  width: 960px

.brick.small
  width: 140px
  height: 140px
  background-color: blue

.brick.large
  width: 300px
  height: 300px

/// Switch Button Style ///
.OnOffDiv
  position: absolute
  background-color: #fff
  padding: 15px 0
  top: 0
  left: 0
  right: 0
  .bootstrap-switch .bootstrap-switch-label
    background-color: #ccc
  .bootstrap-switch
    border: 1px solid #a4a4a4
  .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary
    background-color: $mainblue

.switchDiv
  .bootstrap-switch .bootstrap-switch-label
    background-color: #ccc
  .bootstrap-switch
    border: 1px solid #a4a4a4
  .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary
    background-color: $mainblue

.switchHead
  padding-top: 10px

@media only screen and (max-width: 767px)
  .wrapOverlayItem
    width: 100%
    margin: auto
    overflow: hidden

  .mobile-clear
    clear: both

.circles
  text-align: left
  ul
    list-style: none
    display: inline-block
    margin: 0
    margin-left: 15px
    li
      display: inline-block

.circle
  width: 20px
  height: 20px
  border-radius: 100%

.circlesAddItem
  margin-top: 20px

.circleAddItem
  width: 30px
  height: 30px

/////////////////////// Del Mod ////////////////////////////////
.delModDiv
  position: absolute
  padding: 10px 0
  bottom: 0
  left: 0
  right: 0
.delModDivList
  position: absolute
  padding: 14px 0
  left: 0
  right: 0

////////////// LIST VIEW //////////////////////////////////////////
.listRow
  margin: 5px 0
  margin-left: 5px
  margin-right: 5px
  padding: 2px
  color: #fff
  text-align: left
  display: flex
  &:hover
    cursor: pointer
    background-color: rgba($listhover, 0.5)
    -webkit-box-shadow: inset 2px 3px 5px -3px rgba(0,0,0,0.54)
    -moz-box-shadow: inset 2px 3px 5px -3px rgba(0,0,0,0.54)
    box-shadow: inset 2px 3px 5px -3px rgba(0,0,0,0.54)
    color: $listhovertxt

// List Titles
.listTitDiv
  margin: 5px
  margin-left: 5px
  margin-right: 5px
  padding: 2px
  padding-top: 10px
  color: #fff
  text-align: center
  display: flex
  background-color: rgba($mainblue, .5)
.listTit
  border-right: 1px solid rgba($gris, 0.5)
  p
    font-size: 14px
.listTitLast
  border-right: 0px

// List Content
.listImg
  margin: 0 auto
  width: 50px
  height: 50px
  padding: 0
  cursor: pointer
@media (max-width: 765px)
  .listImg
    margin: 0

.colList
  border-right: 1px solid rgba($gris, 0.5)
  padding-top: 15px
  text-align: center
.colListFirst
  padding-top: 0
.colListLast
  border-right: 0px
  padding-top: 0

.listselect
  background-color: rgba($mainblue, .5)
  -webkit-box-shadow: inset 2px 3px 5px -3px rgba(0,0,0,0.54)
  -moz-box-shadow: inset 2px 3px 5px -3px rgba(0,0,0,0.54)
  box-shadow: inset 2px 3px 5px -3px rgba(0,0,0,0.54)

.viewListMobile
  color: #000
  padding: 0
  margin: 0
  margin: 2px 0
  position: relative
  background-color: rgba(255,255,255, .8)
  &:hover
    cursor: pointer
.viewListMobileMod
  position: absolute
  background-color: rgba(255,255,255, .9)
  top: 0
  right: 0
  left: 0
  text-align: center
  padding: 8px 0
  width: 100%

.vlMobileTxt
  p
    margin-top: 14px

//////// Menu Lists /////////////////

.menulistico.fa-gears::before,
.menulistico.fa-sitemap::before,
.menulistico.fa-home::before,
.menulistico.fa-list-ul::before,
.menulistico.fa-user::before,
.menulistico.fa-tree::before,
.menulistico.fa-plus-square::before,
.menulistico.fa-eye::before,
.menulistico.fa-tree::before,
.menulistico.fa-money::before,
.menulistico.fa-bars::before,
  font-size: 35px
  padding-top: 5px
  color: #fff
  &:hover:before
    color: #000

.menulistcol1
  padding-top: 8px

/////////////// Effects ///////////////////////////////////////////
.shadow
  -webkit-box-shadow: 0px -2px 5px 1px rgba(0,0,0,0.26)
  -moz-box-shadow: 0px -2px 5px 1px rgba(0,0,0,0.26)
  box-shadow: 0px -2px 5px 1px rgba(0,0,0,0.26)


////////////////// CACAS /////////////////////////////

/////////////////// Product List View /////////////////

// .listrowitem
//   margin: 5px
//   margin-left: 15px
//   margin-right: 15px
//   padding-left: 15px
//   padding-right: 15px
//   color: #fff
//   text-align: left
//   &:hover
//     cursor: pointer
//     background-color: rgba(0,0,0, .4)
//
// .itemtit
//   margin: 30px 0 0
// .itemtxt
//   text-align: center
// .itemrow2
//   padding: 0 10px
// .itemtxtcolor
//   font-size: 12px

//
// .prodfilediv
//   background-color: rgba($itemfilediv, .5)
//   padding: 10px 5px
//   margin: 20px 0
//
// .prodfileimg
//   width: 100px
//   height: 100px
//   max-width: 100%
//   height: auto
//   margin: 0 auto
//   -webkit-box-shadow: 0 12px 12px rgba(0,0,0,.175)
//   box-shadow: 0 6px 6px rgba(0,0,0,.175)
//   -webkit-transition: all 0.5s ease 0s
//   transition: all 0.5s ease 0s

// .selectImgMain
//   background-color: $innerwindow
//   padding: 20px
//   div
//     h4
//       margin-top: 0
//       margin-bottom: 15px
//
// .mainSelectedImg
//   max-width: 150px
//
// .carouselDiv
//   margin-bottom: 15px
//
// .imagesDiv
//   padding: 20px 10px
//
// .item
//   &:hover
//     cursor: pointer
// .thumbImg
//   width: 100px
//   height: 100px
//
// .thumbImgSelect
//   img
//     -webkit-box-shadow: 0px -2px 5px 1px rgba(0,0,0,0.26)
//     -moz-box-shadow: 0px -2px 5px 1px rgba(0,0,0,0.26)
//     box-shadow: 0px -2px 5px 1px rgba(0,0,0,0.26)
//     filter: brightness(110%)
//     border: 5px solid white
//     z-index: 1

// .changeImg
//   position: absolute
//   top: 0
//   bottom: 0
//   left: 0
//   right: 0
//   margin: auto
//   width: 6%
//   height: 30%
//   .fa
//     font-size: 35px
//     color: white
//   &:hover
//     cursor: pointer
//
// .mainImgSelected
//   cursor: pointer
//   border-radius: 100%
//   width: 150px
//   height: 150px
//   margin: 0 auto
//
// .imgSelected
//   -webkit-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75)
//   -moz-box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75)
//   box-shadow: 1px 2px 6px 0px rgba(0, 0, 0, 0.75)
//   border: 6px solid white
//   border-radius: 100%
//   box-shadow: 3px 3px 25px 1px
//   margin-left: 50px
