/////////////// Item Or Product Overlay /////////////////////////////////
.wrapOverlayItem
  width: 87%
  margin: auto
  padding: 0 10px
  overflow: hidden

// Select OverlatItem Style
.selectItemProd1
  transition: all 0.3s ease 0s

.selectItemProd2
  transition: all 0.3s ease 0s
  background-color: #ccc
  -webkit-box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.35)
  -moz-box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.35)
  box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.35)

.overlayItem
  margin-top: 15px
  width: 277px
  max-width: 100%
  h2,h3,h4,p,span
    color: #000
    text-align: left
    font-weight: 300
    font-size: 14px
  span
    font-size: 14px
    font-weight: 300
    color: #000
  img
    max-width: 100%

.overlayDetails
  padding: 10px 15px 0
  hr
    margin-top: 5px
    margin-bottom: 5px
    border: 0
    border-top: 1px solid #c1c1c1
  &:hover
    cursor: pointer
.more:link, .more:visited
  transition-duration: 0.2s
  transition-timing-function: ease-out

.show
  width: 100%
  height: 100%
  float: left
  overflow: hidden
  position: relative
  text-align: center
  cursor: default
  background: #fff
  display: block
  .mask
    width: 100%
    height: 100%
    position: absolute
    overflow: hidden
    top: 0
    left: 0

.selectedItem
  width: 247px
  height: 100%
  max-width: 100%
  overflow: hidden
  position: absolute
  text-align: center
  cursor: default
  background-color: rgba(0,0,0,.5)
  display: block
  z-index: 1000
  .fa
    font-size: 50px
    margin-top: 45%
    text-align: center
    color: #fff
  &:hover
    cursor: pointer

.aspect
  position: relative
  padding-bottom: 120%
  height: 0
  overflow: hidden

.overlay1
  a.more
    display: inline-block
    text-decoration: none
    padding: 7px 14px
    background: #FFF
    color: #222
    text-transform: uppercase
    box-shadow: 0 0 1px #000
    position: relative
    border: 1px solid #999
    &:hover
      box-shadow: 0 0 5px #000
  img
    transition: all 0.2s linear
  .mask
    opacity: 0
    background-color: rgba(255,255,255, 0.7)
    transition: all 0.4s ease-in-out
  h2
    color: #f2f2f2
    margin-top: 10%
    opacity: 0
    transition: all 0.2s ease-in-out
    background: rgba(0,0,0,0.7)
  p
    opacity: 0
    transition: all 0.2s linear
  a.info
    opacity: 0
    transition: all 0.2s ease-in-out
  &:hover
    // img
    //  transform: scale(1.1)
    .mask
      opacity: 1
    h2,p,a.info
      opacity: 1
    p
      transition-delay: 0.1s
    a.info
      transition-delay: 0.2s

////////////////    GENERIC WINDOWS     //////////////////////////////

//////////// Main Containers ////////////////////

.glasscontainer1
  width: auto
  background-color: rgba(0,0,0, .1)
  padding: 10px 5px
  text-align: center
  padding-bottom: 15px
  -webkit-transition: all 0.3s ease-out
  -moz-transition: all 0.3s ease-out
  -ms-transition: all 0.3s ease-out
  -o-transition: all 0.3s ease-out
  transition: all 0.3s ease-out

.glassListRow
  width: auto
  background-color: $listRowColor
  text-align: center
  -webkit-transition: all 0.3s ease-out
  -moz-transition: all 0.3s ease-out
  -ms-transition: all 0.3s ease-out
  -o-transition: all 0.3s ease-out
  transition: all 0.3s ease-out


// Color Variation List
.glassListRow2
  width: auto
  background-color: rgba(201, 201, 201, 0.51)
  text-align: center
  -webkit-transition: all 0.3s ease-out
  -moz-transition: all 0.3s ease-out
  -ms-transition: all 0.3s ease-out
  -o-transition: all 0.3s ease-out
  transition: all 0.3s ease-out


.filerow
  margin: 5px
  padding-left: 15px
  padding-right: 15px
  &:hover
    cursor: pointer
    background-color: rgba(0,0,0, .2)

/////////////////// Filters /////////////////////////

#filteritem
  display: none
#filtersuser
  display: none

.filterdiv
  width: auto
  background-color: rgba(255,255,255, .5)
  padding: 15px
  text-align: center
  padding-bottom: 15px
  margin-bottom: 30px
  margin-top: -20px

.form-controlit
  display: block
  width: 100%
  height: 34px
  padding: 6px 12px
  font-size: 14px
  line-height: 1.42857
  max-width: 250px
  color: #555
  background-color: #FFF
  background-image: none
  border: 1px solid #CCC
  border-radius: 4px
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s
  display: inline

.inputsgral
  padding: 0 5px

/////////////////// NEW USER OR ITEM //////////////////////////////////

//////// Item Creation Window //////////////////////////////////////

$addItemWidth: 800px

.maxW
  max-width: $addItemWidth

.windowHead
  background-color: rgba(255,255,255,.9)
  padding: 10px 0
  max-width: $addItemWidth
  margin: 0 auto
  margin-top: 20px
  text-align: center
  -webkit-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  .fa
    color: $mainred
  h3
    font-size: 16px
    font-weight: 500

.additemdiv, .addItemDiv
  max-width: $addItemWidth
  background-color: $transpContainer
  -webkit-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  padding-top: 20px
  padding-bottom: 20px
  transition: all 0.3s ease 0s
  width: 100%
.addItemTit
  text-align: center
  background-color: #fff
  max-width: $addItemWidth
  margin: 0 auto
  transition: all 0.3s ease 0s
  h3
    color: $additemtit
    text-align: center

.donediv
  background-color: rgba(255,255,255,.9)
  padding: 25px 0 10px 0
  max-width: $addItemWidth
  width: 100%
  margin: 0 auto
  text-align: center
  -webkit-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  -moz-box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  box-shadow: 4px 2px 8px -6px rgba(0, 0, 0, 0.69)
  transition: all 0.3s ease 0s
  z-index: 500

.addItemNoformTit
  background-color: rgba(255, 255, 255, 0.5)
  padding: 5px 10px

.addItemSizes
  text-align: center
  margin: 0
  margin-top: 15px
  ul
    padding: 2px
    li
      text-align: center
      display: inline-block
      // Sacar si el texto es más largo
      width: 39px
      margin-top: 2px
      margin-bottom: 2px
      background-color: rgba(255, 255, 255, .5)

.addItemSizes
  .checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label
    padding-top: 4px

.addItemSizes
  .checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before
    border: 0 !important

.addItemDescription
  background-color: $innerwindow
  padding: 5px 10px
.itemimgmain
  padding: 30px 0 20px 0

.formNewItem,.form-controlusers,.form-controlitems
  display: block
  width: 100%
  height: 34px
  padding: 6px 12px
  font-size: 14px
  line-height: 1.42857
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s
  max-width: 100%
  border: 0
  border-bottom: 1px solid #39465B
  background-color: transparent

/// Select Product checkbox

.checkboxSelProd input[type="checkbox"], input[type="radio"]
  margin: 0
  width: 50px
  &:hover
    cursor: pointer


///////////////////// IMAGES //////////////////////////////////////

// Selector Img Changer
.imgSelector
  padding-top: 15px
  padding-bottom: 15px
  margin: 0 auto
  img
    position: absolute
    display: block
    z-index: 1
    width: 180px
    height: 180px
    border-radius: 100%
    margin: 0 auto

.imgSelectorInner
  width: 180px
  margin: 0 auto
  height: 180px

.imgSelectorContent
  position: absolute
  display: table
  z-index: 2
  opacity: 0
  width: 180px
  height: 180px
  border-radius: 100%
  vertical-align: middle
  text-align: center
  margin: auto
  transition: all 0.3s ease 0s
  &:hover
    opacity: 1
    background: rgba(34, 34, 34, 0.62) center no-repeat
  .fa
    font-size: 35px
    color: #fff
  div
    display: table-cell
    vertical-align: middle
    cursor: pointer
    color: #fff

@media (max-width: 290px)
  .imgSelectorInner, .imgSelectorContent
    width: 140px
    height: 140px
  .imgSelector
    img
      width: 140px
      height: 140px

/////////// Single and Multiple Images Window (HIDDEN) ///////////////////
.imgWindow
  padding: 0
  padding-bottom: 10px
  background-color: $innerwindow
.imgWindowTitle
  background-color: rgba(255,255,255,.8)
  text-align: left
  padding: 5px 15px
  margin: 0 auto
  margin-bottom: 10px

.imgHover
  &:hover
    border: 1px solid red
    cursor: pointer

.imgHover2
  transition: all 0.3s ease 0s
  &:hover
    cursor: pointer
    -webkit-box-shadow: 1px -1px 6px 5px rgba(0,0,0,0.19)
    -moz-box-shadow: 1px -1px 6px 5px rgba(0,0,0,0.19)
    box-shadow: 1px -1px 6px 5px rgba(0,0,0,0.19)

.activeImgs
  border: 1px solid rgba(143, 81, 148, 0.52)
  padding: 12px 12px 7px
  margin-bottom: 10px
  margin-top: 10px
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  -ms-grid-row-align: center
  align-items: center
  ul
    li
      display: inline-block
      margin: 0 auto
      img
        position: absolute
        display: block
        z-index: 1
        width: 120px
        height: 120px
        margin: 0 auto
      span
        position: absolute
        vertical-align: middle
        display: table
        z-index: 2
        opacity: 0
        width: 120px
        height: 120px
        text-align: center
        transition: all 0.3s ease 0s
        color: #fff
        &:hover
          opacity: 1
          background: rgba(5, 110, 144, .8) center no-repeat
          cursor: pointer
          div
            display: table-cell
            vertical-align: middle
            cursor: pointer
            color: #fff

      i.delImgIco
        position: absolute
        right: 0
        padding: 5px 8px
        border-radius: 100%
        background-color: #a3a3a3
        color: #fff
        margin-right: 5px
        margin-top: 5px
        transition: all 0.3s ease 0s
        .fa
          color: #fff
        &:hover
          background-color: rgb(196, 72, 72)
      i.moveImg
        font-size: 25px
        padding: 5px 8px
        position: relative
        top: 45px
        .fa
          font-size: 35px
      i.moveLeft
        background-color: rgb(255, 255, 255)
        border-radius: 20px 0px 0px 20px
        font-size: 19px
        padding: 5px 8px
        position: absolute
        bottom: 5px
        left: 5px
        color: #ab5b5b
        transition: all 0.3s ease 0s
        &:hover
          background-color: rgb(184, 184, 184)
          color: #fff


      i.moveRight
        background-color: rgb(255, 255, 255)
        border-radius: 0px 20px 20px 0px
        font-size: 19px
        padding: 5px 8px
        position: absolute
        bottom: 5px
        right: 5px
        color: #ab5b5b
        &:hover
          background-color: rgb(184, 184, 184)
          color: #fff

.tipAndButton
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  -ms-grid-row-align: center
  align-items: center

@media (max-width: 700px)
  .tipAndButton
    display: block
    border: 1px solid red

.imgGallery
  border: 1px solid rgba(233, 33, 33, 0.52)
  ul
    li
      display: inline-block
      margin: 0 auto
      img
        width: 50px
        height: 50px
      span
        width: 50px
        height: 50px
      i.delImgIco
        margin-right: -5px
        margin-top: -4px
        background: 0
        font-size: 14px
      i.moveImg
        font-size: 12px
        top: 14px

.selectImgGalleries
  -webkit-box-shadow: 1px -1px 6px 5px rgba(0,0,0,0.19)
  -moz-box-shadow: 1px -1px 6px 5px rgba(0,0,0,0.19)
  box-shadow: 1px -1px 6px 5px rgba(0,0,0,0.19)

.singleImg
  margin: 0 auto
  ul
    li
      margin: 5px
      width: 120px
      height: 120px
      text-align: center
      display: inline-block
      span
        &:hover
          opacity: 1
          background: rgba(5, 110, 144, .2) center no-repeat
          cursor: pointer



/////////// TREES / CHECKBOXES ////////////////////////////

.treeDivRow
  padding: 20px 20px 0
  margin: 0 auto

.checkboxTitle
  background-color: $mainWhite
  border-radius: 5px 5px 0 0
  h5
    margin: 0
    padding: 10px 0
    text-align: center
.checkboxDiv
  width: 100%
  ul
    margin: 0 auto
    -webkit-box-shadow: 3px 4px 9px -9px rgba(0,0,0,0.75)
    -moz-box-shadow: 3px 4px 9px -9px rgba(0,0,0,0.75)
    box-shadow: 3px 4px 9px -9px rgba(0,0,0,0.75)
    li
      padding-top: 4px
      padding-bottom: 4px
      padding-left: 10px
      margin: 0 auto
      color: white
      transition: all 0.2s ease 0s
      i
        color: #f1f1f1
        margin-right: 5px
      &:hover
        cursor: pointer
        background-color: rgba(255, 255, 255, 0.34)
        label
          color: #383838

  label
    font-size: 14px
    font-weight: 400

.treeLv1
  background-color: $checkBoxLv1
.treeLv2
  background-color: $checkBoxLv2
  padding-left: 15px !important
.treeLv3
  background-color: $checkBoxLv3
  padding-left: 20px !important

.treeArrow
  position: relative
  float: right
  margin-top: -20px
  margin-right: 10px

.checkboxtree
  max-width: 250px
  text-align: left
  list-style: none
  li
    ul
      li
        margin-left: 30px

.checkboxgroup
  ul
    display: inline-block
    list-style: none
    li
      content: ''
      background: #fff
      border: 2px solid #ddd
      display: inline-block
      vertical-align: middle
      width: 20px
      height: 20px
      padding: 2px
      margin-right: 10px
      text-align: center
    li:checked
      background: #056e90
      box-shadow: inset 0px 0px 0px 4px #fff

.checkbox-custom, .radio-custom
  opacity: 0
  position: absolute

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label
  display: inline-block
  vertical-align: middle
  margin: 1px 5px
  cursor: pointer

.checkbox-custom-label, .radio-custom-label
  position: relative

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before
  content: ''
  background: #fff
  border: 2px solid #ddd
  display: inline-block
  vertical-align: middle
  width: 20px
  height: 20px
  padding: 2px
  margin-right: 2px
  text-align: center

.checkbox-custom:checked + .checkbox-custom-label:before
  background: #056e90
  box-shadow: inset 0px 0px 0px 4px #fff

/////////////////////// Drag And Drop /////////////////////////////////

// .gridly
//   position: relative
//   width: 960px
//
// .brick.small
//   width: 140px
//   height: 140px
//   background-color: blue
//
// .brick.large
//   width: 300px
//   height: 300px

/// Switch Button Style ///
.OnOffDiv
  // position: absolute
  background-color: #fff
  padding: 15px 0
  top: 0
  left: 0
  right: 0
  .bootstrap-switch .bootstrap-switch-label
    background-color: #ccc
  .bootstrap-switch
    border: 1px solid #a4a4a4
  .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary
    background-color: $mainblue

.switchDiv
  .bootstrap-switch .bootstrap-switch-label
    background-color: #ccc
  .bootstrap-switch
    border: 1px solid #a4a4a4
  .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary
    background-color: $mainblue

.switchHead
  padding-top: 10px

@media only screen and (max-width: 767px)
  .wrapOverlayItem
    width: 100%
    margin: auto
    overflow: hidden

  .mobile-clear
    clear: both

// Color Selector

.circles
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -ms-flex-align: center
  -webkit-align-items: center
  -webkit-box-align: center
  align-items: center
  flex-wrap: wrap
  margin: 15px 5px 5px

.circlesDisplay
  margin: 0

.circle
  width: 20px
  height: 20px
  border-radius: 100%

.circleAddItem
  width: 30px
  height: 30px
  margin: 2px
  transition: all 0.3s ease 0s
  &:hover
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75)
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75)
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75)
    cursor: pointer
    border: 1px solid #fff
.circleAddItemSelected
  background-color: rgb(218, 99, 99) !important
  -webkit-box-shadow: inset 6px 9px 9px -9px rgba(0, 0, 0, 0.75)
  -moz-box-shadow: inset 6px 9px 9px -9px rgba(0, 0, 0, 0.75)
  box-shadow: inset 6px 9px 9px -9px rgba(0, 0, 0, 0.75)

.circleAddItemSelected:before
  content: "X"
  font-weight: 800
  color: rgb(255, 255, 255)
  left: 10px
  position: relative
  top: 5px

.circleInput
  border-radius: 100%
  input
    border: 0
    width: 25px
    height: 25px
    &:hover
      cursor: pointer

.delColBtn
  margin-left: 15px
  margin-top: 5px
  color: #fff
  .fa
    color: #fff
  &:hover
    .fa
      color: #fff
      background-color: rgb(180, 79, 79)
.colorPalette
  width: 30px
  height: 30px
  margin: 2px
  -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75)
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75)
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75)
  transition: all 0.3s ease 0s
  img
    width: 30px
  &:hover
    filter: brightness(1.2)
    cursor: pointer


/////////////////////// Del Mod ////////////////////////////////
.delModDiv
  position: absolute
  padding: 10px 0
  bottom: 0
  left: 0
  right: 0
.delModDivList
  position: absolute
  padding: 4px 0
  left: 0
  right: 0
  bottom: 0

////////////// LIST VIEW //////////////////////////////////////////
.listRow
  color: $listRowText
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -ms-flex-align: center
  -webkit-align-items: center
  -webkit-box-align: center
  // align-items: stretch
  align-items: center
  text-align: left
  height: 50px
  margin: 5px
  padding: 5px
  div:nth-child(1)
    text-align: center
  div:nth-child(n+2)
    border-right: 1px solid rgba(222, 222, 222, 0.51)
  div:last-child
    border-right: 0 !important
    padding-left: 5px
    padding-right: 0
    min-width: 90px

  img
    border-radius: 100%
    margin: 0 auto
    width: 50px
    height: 50px
    padding: 0
    cursor: pointer
  p
    padding: 10px 0



  // &:hover
  //   cursor: pointer
  //   background-color: rgba($listhover, 0.5)
  //   -webkit-box-shadow: inset 2px 3px 5px -3px rgba(0,0,0,0.54)
  //   -moz-box-shadow: inset 2px 3px 5px -3px rgba(0,0,0,0.54)
  //   box-shadow: inset 2px 3px 5px -3px rgba(0,0,0,0.54)
  //   color: $listhovertxt


.listHover
  &:hover
    background-color: $listRowHoverColor
    -webkit-box-shadow: inset 2px 3px 5px -3px $listRowHoverColor
    -moz-box-shadow: inset 2px 3px 5px -3px $listRowHoverColor
    box-shadow: inset 2px 3px 5px -3px $listRowHoverColor
    cursor: pointer

.listSelect
  background-color: $listSelect
  -webkit-box-shadow: inset 2px 3px 5px -3px rgba(0,0,0,0.54)
  -moz-box-shadow: inset 2px 3px 5px -3px rgba(0,0,0,0.54)
  box-shadow: inset 2px 3px 5px -3px rgba(0,0,0,0.54)
  p
    color: #fff


.listTits
  background-color: $titsHead
  color: $listTitText


.viewListMobile
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -ms-flex-align: center
  -webkit-align-items: center
  -webkit-box-align: cente
  align-items: center
  color: #000
  padding: 0
  margin: 0
  margin: 2px 0
  position: relative
  &:hover
    cursor: pointer


.viewListMobileLarge
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -ms-flex-align: center
  -webkit-align-items: center
  -webkit-box-align: center
  align-items: center
  justify-content: center
  color: #000
  padding: 0
  margin: 0
  margin: 2px 0
  position: relative
  padding: 5px
  p
    max-width: 50%
  img
    border-radius: 100%
    margin: 0 auto
    width: 50px
    height: 50px
    padding: 0
  &:hover
    cursor: pointer
    background-color: rgba(255, 255, 255, 0.59)


.listSelectMobileLarge
  background-color: $listSelect
  -webkit-box-shadow: inset 2px 3px 5px -3px rgba(0,0,0,0.54)
  -moz-box-shadow: inset 2px 3px 5px -3px rgba(0,0,0,0.54)
  box-shadow: inset 2px 3px 5px -3px rgba(0,0,0,0.54)
  p
    color: #fff

.viewListMobileMod
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -ms-flex-align: center
  -webkit-align-items: center
  -webkit-box-align: center
  align-items: center
  position: absolute
  background-color: rgba(255,255,255, 1)
  width: 40%
  height: 100%
  right: 0
  top: 0
  text-align: center

.viewListMobile2
  div
    padding-left: 2px
  img
    border-radius: 100%
    margin: 4px 0
    border-radius: 100%
    width: 50px
    height: 50px
    padding: 0
    margin-left: 5px

@media (max-width: 500px)
  .viewListMobile2
    img
      width: 35px
      height: 35px

.listMobileSelected
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  -ms-flex-align: center
  -webkit-align-items: center
  -webkit-box-align: center
  align-items: center
  justify-content: center
  background-color: rgb(111, 106, 201)
  position: absolute
  right: 0
  top: 0
  width: 30px
  height: 100%
  .fa
    color: #fff




// Responsivity

// Large (Monitor)
@media (min-width: 1200px)
  .viewListMobile1,.viewListMobile2
    display: none !important

// Medium (Tablet)
/* No greater than 1199px, no less than 500px */
@media (max-width: 1199px) and (min-width: 500px)
  .viewListMobile2,.viewlist
    display: none !important

// Mobile
@media (max-width: 500px)
  .viewListMobile1,.viewlist
    display: none !important


//////// Menu Lists /////////////////

.menuIcons
  ul
    li
      display: inline
      .fa
        font-size: 20px
        margin: 6px
        color: #464646
        transition: all 0.3s ease 0s
        &:hover
          cursor: pointer
          color: $mainblue




/////////////// Effects ///////////////////////////////////////////
.shadow
  -webkit-box-shadow: 0px -2px 5px 1px rgba(0,0,0,0.26)
  -moz-box-shadow: 0px -2px 5px 1px rgba(0,0,0,0.26)
  box-shadow: 0px -2px 5px 1px rgba(0,0,0,0.26)


///////////// Generic Cards (Main Links) ////////////////

.cardContainer
  display: flex
  justify-content: center

@media (max-width: 1200px)
  .cardContainer
    flex-wrap: wrap


.genCard
  position: relative
  border-radius: 5px
  text-align: center
  max-width: 300px
  margin: 5px
  padding: 5px
  a
    color: #000

.genCardHead
  background-color: $genericCard
  width: 100%
  padding: 20px 0
  border-radius: 5px 5px 0 0
  transition: all 0.3s ease 0s
  @include box-shadowDown
  .fa
    text-align: center
    background-color: $genericCardIconBack
    border-radius: 100%
    padding-top: 12px
    font-size: 45px
    width: 70px
    height: 70px
    color: $genericCardIcon
  &:hover
    background-color: $genericCardHover
    cursor: pointer

.genCardContent
  padding: 10px 0
  transition: all 0.3s ease 0s
  background-color: $genericCardContent
  border-radius: 0 0 5px 5px
  @include box-shadowUp
  span
    font-size: 15px
