///////////////////// Buttons ////////////////////////////
.mainbtn
  margin: 5px
  border: 0
  padding: 9px 20px 9px
  border-radius: 3px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  text-align: center
  font-size: 14px
  line-height: 1
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75)
  -webkit-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75)
  -moz-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75)
  -webkit-transition: all 0.5s ease 0s
  transition: all 0.5s ease 0s
  background: $mainbtn
  color: $maintbtntxt
  &:hover
    box-shadow: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    color: #fff
    background: $mainbtnhover
  &:focus, &:active
    box-shadow: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    color: #fff
    background: $mainbtnhover
a .mainbtn
  color: $logbtntxt

.mainbtnred
  background: $mainbtnred
  transition: all 0.3s ease 0s
  &:hover
    box-shadow: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    color: #fff
    background: $mainbtnredhover
  &:focus, &:active
    box-shadow: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    color: #ccc
    background: $mainbtnredhover

.modBtnList,.delBtnList
  padding: 4px 6px
  vertical-align: middle
  margin-top: 8px

.thirdBtn
  background: $thirdBtn
  transition: all 0.3s ease 0s
  &:hover
    box-shadow: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    color: #fff
    background: $thirdBtnHover
  &:focus, &:active
    box-shadow: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    color: #fff
    background: $thirdBtnHover
.acceptBtn
  position: absolute
  right: 0
  bottom: 0
  margin: 20px
  padding: 8px 20px 8px
  border-radius: 3px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  text-align: center
  font-size: 14px
  line-height: 1
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75)
  -webkit-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75)
  -moz-box-shadow: 2px 2px 5px -3px rgba(0, 0, 0, 0.75)
  -webkit-transition: all 0.5s ease 0s
  transition: all 0.5s ease 0s
  background: $mainbtn
  color: #000
  &:hover
    box-shadow: none
    -webkit-box-shadow: none
    -moz-box-shadow: none
    background: $mainbtnhover
  &:focus, &:active
    box-shadow: none
    -webkit-box-shadow: none
    -moz-box-shadow: none


.newItemBtn
  background: $newItemBtn
  color: #fff
  &:hover
    background: $newItemBtnHover
  &:active,&:focus
    background: $newItemBtnHover
.btnForDark
  background: rgb(135, 65, 65)
  color: #fff
  &:hover
    background: $newItemBtnHover
    color: #383838

.switchRight
  padding-top: 10px

.modalBtnRed
  background: $mainbtnred
  margin-bottom: 0
  &:hover, &:active, &:focus
    background: $mainbtnredhover

///
.closeBtn
  position: absolute
  right: 0
  top: 0
  padding: 5px 10px
  z-index: 5
  border: none
  border-radius: 0 0 0 5px
  background-color: rgba(255, 255, 255, 1)

  transition: all 0.3s ease 0s
  &:hover
    background-color: rgba(223, 85, 85, 1)
    .fa
      color: #fff
  &:focus, &:active
    box-shadow: 0px 0px 0px
    background-color: trasparent
  .fa
    color: #000


// EXTRAS

// Icons
// ====================


// Effects
// ====================

// Hover Shadow
.hvr-shadow
  display: inline-block
  vertical-align: middle
  -webkit-transform: translateZ(0)
  transform: translateZ(0)
  box-shadow: 0 0 2px rgba(0, 0, 0, 0)
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  -moz-osx-font-smoothing: grayscale
  -webkit-transition-duration: 0.3s
  transition-duration: 0.3s
  -webkit-transition-property: box-shadow
  transition-property: box-shadow
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5)

// Shadow for divs
.sombradiv
  -webkit-box-shadow: 10px 10px 28px -15px rgba(0,0,0,0.29)
  -moz-box-shadow: 10px 10px 28px -15px rgba(0,0,0,0.29)
  box-shadow: 10px 10px 28px -15px rgba(0,0,0,0.29)

// Buttons
//================================================


// Search Button
@media(max-width:1200px)
  .itemsearchbtndiv
    margin-top: 10px
    margin-left: 0

.itemsearchbtn
  color: $btnoktxt
  background-color: $btnok
  border: 0
  border-radius: 0
  transition: 0.5s
  margin-left: 10px

.itemsearchbtn:hover,
.itemsearchbtn.active,
.open .dropdown-toggle.itemsearchbtn
  background-color: $btnokhover
  color: $btnoktxthover

.itemsearchbtn:focus,
.itemsearchbtn:active,
  color: #ccc

.itemsearchbtn:active,
.itemsearchbtn.active,
.open .dropdown-toggle.itemsearchbtn
  background-image: none



/////////////////////// Pagination //////////////////////////
.paginat
  text-align: center
  position: fixed
  bottom: 0
  left: 50%
  margin-bottom: -15px

@media(max-width: 768px)
  .paginat
    left: 0
    right: 0

.pagination > li:last-child > a, .pagination > li:last-child > span
  border-radius: 0
.pagination > li:first-child > a, .pagination > li:first-child > span
  border-radius: 0
.pagination > li > a, .pagination > li > span
  background-color: rgba($pagbk, .5)
  border-color: rgba($pagborder, .3)
  color: $pagtxt

//////////////// Character counter  //////////////////////
form .indicator
  display: block
  height: 30px
  width: 0
  background-color: #ccc
  transition: .2s
  -webkit-transition: .2s

form .indicator span.current-length
  position: absolute
  display: block
  font-weight: bold
  color: #444
  padding: 5px 0 0 10px
  font-size: 14px

form .indicator.low
  background-color: rgba(38, 166, 91, .4)
form .indicator.med
  background-color: rgba(38, 166, 91, .5)
form .indicator.high
  background-color: rgba(38, 166, 91, .7)
form .indicator.full
  background-color: rgba(192, 57, 43, .7)
form .indicator.empty
  background-color:  rgba(38, 166, 91, .2)

.remchar
  margin-top: 10px

//////////////////// Breadcrums ///////////////////////
.breadcrumb
  padding: 0px
  margin-bottom: 0px
  list-style: none
  background-color: transparent
  border-radius: 0px
  transition: all 0.3s ease-in-out
  a
    color: #000
    &:hover
      color: #404040

// Líneas separadoras
.breadcrumb > li + li::before
  padding: 0 5px
  color: #000
  content: "/\00a0"

.crumactive
  color: red

// TIPS
.tipText
  display: flex
  align-items: center
  .fa
    margin-right: 5px
  p
    color: rgb(121, 121, 121)
