/// Colors ///
$lightLine: 1px solid rgba(228, 228, 228, 0.8)



////////// BUTTON  //////////////

.btn
  border: 0
  @include transition(0.3s)

.btnGreen
  background-color: rgb(73, 164, 98)
  margin: 2px 2px
  color: #fff
  &:hover,&:active,&:focus
    background-color: rgb(92, 200, 122)
    color: #fff
.btnBlue
  background-color: rgb(76, 126, 185)
  margin: 2px 2px
  color: #fff
  &:hover,&:active,&:focus
    background-color: rgb(130, 162, 201)
    color: #fff
.btnRed
  background-color: rgb(207, 86, 83)
  margin: 2px 2px
  color: #fff
  &:hover,&:active,&:focus
    background-color: rgb(205, 115, 113)
    color: #fff

.ButtonLogin
  border: 0
  margin-top: 8px


// Button Container
.btnGrey
  background-color: rgb(214, 214, 214)
  color: #000
  &:hover,&:active,&:focus
    background-color: rgb(164, 164, 164)
    color: #fff

.btnRightMobCent
  text-align: right

@media (max-width: 765px)
  .btnRightMobCent
    text-align: center



//////// FORMS ///////////////////

// Tags //

.select2-selection
  width: auto !important

.select2-container--default .select2-selection--multiple .select2-selection__choice
  background-color: rgb(76, 126, 185)
  border: 0

////////// TREE CHECKBOXES ///////
.treeCheckBoxDiv
  margin: 20px 0
  padding: 5px 20px
  border: $lightLine
  input
    margin-right: 10px

////////// IMAGES //////////////
.imagesMain
  margin-top: 20px

@media (max-width: 1200px)
  .imagesMain
    margin-top: 0
  .imagesMain >div
    margin: 10px 0

.imagesContainer
  border: $lightLine
  padding: 5px 15px 20px
  text-align: center
  min-height: 339px
  vertical-align: text-bottom

// Round Image Selector With Overlay
.imgSelector
  padding-top: 15px
  padding-bottom: 15px
  margin: 0 auto
  img
    position: absolute
    display: block
    z-index: 1
    width: 190px
    height: 190px
    border-radius: 100%
    margin: 0 auto

.imgSelectorInner
  width: 190px
  height: 190px
  margin: 0 auto

.imgSelectorContent
  position: absolute
  display: table
  z-index: 2
  opacity: 0
  width: 190px
  height: 190px
  border-radius: 100%
  vertical-align: middle
  text-align: center
  margin: auto
  transition: all 0.3s ease 0s
  &:hover
    opacity: 1
    background: rgba(34, 34, 34, 0.62) center no-repeat
    @include box-shadowDown
    filter: brightness(1.3)
  .fa
    font-size: 35px
    color: #fff
  div
    display: table-cell
    vertical-align: middle
    cursor: pointer
    color: #fff

.imgSelectorClicked
  opacity: 1
  background: rgba(34, 34, 34, 0.62) center no-repeat
  @include box-shadowDown
  filter: brightness(1.3)

@media (max-width: 290px)
  .imgSelectorInner, .imgSelectorContent
    width: 120px
    height: 120px
  .imgSelector
    img
      width: 120px
      height: 120px


// Small Thumbs
.smallThumbsList
  ul
    padding: 0
    margin: 0
    margin-top: 20px
    li
      position: relative
      list-style: none
      display: inline-block
      margin-bottom: 15px
      margin-left: 3px
      margin-right: 3px
      img
        width: 90px
        max-width: 100%
        @include border-radius(100%)
        @include transition(0.3s)
        &:hover
          cursor: pointer
          @include box-shadowDown

// MODALS //
.modal
  .modal-header
    background-color: $mainblue
    color: #fff
    .close
      color: #fff
      opacity: 1
      top: 2px
      &:hover
        color: $mainred
        text-shadow: none
        background-color: #fff
        top: 2px
  .modal-footer
    border-top: 0


////////// LISTS ////////////////
// Grid View
.horizontal-list
  ul
    padding: 0
    margin: 0
    li
      display: inline-block
      list-style: none
      margin: 10px

.roundItemBig
  li
  .roundItemText
    text-align: center
    margin-top: 10px
    p
      margin: 0
  .fa
    font-size: 14px !important

.roundItemBigSelected
  img
    @include box-shadowDown


// List Row
.listRow
  background-color: #f8f8f8
  padding: 10px
  margin: 5px 0
  position: relative
  @include transition(0.1s)
  &:hover
    background-color: rgb(152, 152, 152)
    color: #fff
    cursor: pointer
    span.smallDetails
      color: #fff !important
  .listRowInner
    .itemRowtitle
      font-size: 14px
  .listActions
    position: absolute
    right: 0
    top: 0
    height: 100%
    padding: 5px

.listRow2
  background-color: #e7e7e7

.listRowSelected
  background-color: #a3ccb1
  border: 1px solid rgb(185, 185, 185)
  border-left: 5px solid green
  color: #fff
  span.smallDetails
    color: #fff !important
  @include box-shadowSoft
  .listRowInner
    .smallDetails
      color: #000

.post .listRowInner
  margin-bottom: 15px

.listRowInner
  &:before
    content: " "
    display: table
  &:after
    content: " "
    display: table
    clear: both
  img
    width: 40px
    height: 40px
    float: left
  .itemRowtitle, .smallDetails
    display: block
    margin-left: 50px
  .itemRowtitle
    font-size: 16px
    font-weight: 600
  .smallDetails
    color: #999
    font-size: 13px
  &.listRowInner-sm
    .itemRowtitle, .smallDetails
      margin-left: 40px
    .itemRowtitle
      font-size: 14px

.listRowInner.listRowInner-sm img
  float: left

.listRowInner.listRowInner-sm img
  width: 30px !important
  height: 30px !important

// Absolute Positioned DeleteAll Button
.deleteSelectedAbs
  position: absolute
  background-color: rgb(194, 82, 82)
  border-radius: 5px
  @include box-shadowDown
  padding: 15px
  font-size: 20px
  color: #fff
  bottom: 15px
  right: 15px
  @include transition(0.2s)
  a
    color: #fff
  &:hover
    background-color: rgb(139, 54, 54)
    a
      color: rgb(224, 224, 224)

@media (max-width: 400px)
  .listRow
    padding: 2px
    .listActions
      padding-top: 4px
    .listRowInner
      span
        font-size: 14px

@media (max-width: 370px)
  .smallDetails
    display: none !important
  .deleteSelectedAbs
    padding: 5px
    font-size: 15px

// Change View
.changeView
  position: absolute
  padding: 5px
  color: #fff
  top: 0
  right: 0
  @include transition(0.2s)
  a
    color: #fff
  &:hover
    a
      color: rgb(224, 224, 224)
  .btn
    background-color: rgb(219, 219, 219)
    margin: 3px
    color: #000
    &:hover
      background-color: rgb(203, 203, 203)

//// BOOTSTRAP SWITCH ////
.bootstrap-switch
  border: 2px solid #ededed !important


// Icon Menu //
.iconMenu
  border: 1px solid #ccc
  padding-left: 10px
  padding-top: 2px
  height: 34px
  span.iconMenuText
    margin-right: 10px
  span.iconMenuIcon
    font-size: 20px
  .btn
    padding: 4px 12px

.iconModalContent
  i
    &:hover
      cursor: pointer
  .fa
    font-size: 16px
    margin: 5px

.iconSelected
  border: 3px solid #c6ac6b
  width: 40px
  height: 30px
  padding: 5px
  .fa
    font-size: 25px !important

////////// BOXED CHECKBOXES  SIZES (XS, S, SM, L, etc.) /////////

.boxed-horiz-list
  text-align: center
  margin: 0
  margin-top: 15px
  ul
    padding: 2px
    li
      text-align: center
      display: inline-block
      width: 39px
      margin-top: 2px
      margin-bottom: 2px
      padding-top: 4px
      background-color: rgba(226, 226, 226, 0.5)

////////// Square CheckBoxes /////////////////////////////

.checkbox-custom, .radio-custom
  opacity: 0
  position: absolute

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label
  display: inline-block
  vertical-align: middle
  margin: 1px 5px
  cursor: pointer

.checkbox-custom-label, .radio-custom-label
  position: relative

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before
  content: ''
  background: #fff
  border: 2px solid #ddd
  display: inline-block
  vertical-align: middle
  width: 20px
  height: 20px
  padding: 2px
  margin-right: 2px
  text-align: center

.checkbox-custom:checked + .checkbox-custom-label:before
  background: #056e90
  box-shadow: inset 0px 0px 0px 4px #fff

///// Textarea With Character Counter /////
.textWithCounter
  border: $lightLine
  input
    padding: 10px
    width: 100%
    max-width: 100%
    border: 0
    border-radius: 0
  textarea
    width: 100%
    max-width: 100%
    padding: 10px
    border: 0
    border-radius: 0
    text-align: left
  .indicator-wrapper
    padding-left: 10px
    padding-top: 10px
    background-color: rgba(238, 238, 238, 0.5)
    padding: 0
    padding-top: 5px
    p
      margin-bottom: -25px
      margin-left: 40px
      color: #000
  .indicator
    display: block
    height: 30px
    width: 0
    background-color: #dedede
    transition: 0.2s
    -webkit-transition: 0.2s
    span.current-length
      position: absolute
      display: block
      font-weight: bold
      color: #444
      padding: 5px 0 0 10px
      font-size: 14px
  // Different States
  .indicator.empty
  background-color:  rgba(175, 175, 175, 0.2)
  .indicator.low
    background-color: rgba(38, 166, 91, .4)
  .indicator.med
    background-color: rgba(38, 166, 91, .5)
  .indicator.high
    background-color: rgba(38, 166, 91, .7)
  .indicator.full
    background-color: rgba(196, 78, 66, 0.7)
    span
      color: #fff


//////////////////////////////////////
//                                  //
//         COLOR PICKER             //
//                                  //
//////////////////////////////////////

.colorPickerContainer
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  -ms-grid-row-align: center
  align-items: center
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  position: relative


.colorPicker
  padding: 20px
  max-width: 500px
  ul
    border: 1px solid red
    padding-left: 0
    border: 0
    li
      position: relative
      border: 1px solid rgb(217, 217, 217)
      margin: 0
      margin-left: 1px
      margin-right: 0px
      background-color: rgb(172, 72, 116)
      list-style: none
      display: inline-block
      width: 25px
      height: 25px
      &:hover
        cursor: pointer
    .cpIcon
      position: absolute
      padding-top: 3px
      padding-left: 3px
      color: #fff
      .fa
        font-size: 16px
        display: none
        @include txShadow
    li.liSelected
      border: 1px solid rgb(0, 0, 0)
    .cpSelected
      .fa
        display: block
  .cpBoxLibrary
    // float: left
  .cpBoxSelected
    position: relative
    width: 150px
    height: 90px
    margin-bottom: 15px
    background-color: rgb(246, 246, 246)
    @include flexColumn
    .cpBoxSelectedItem
      @include box-shadowSoft
      width: 40px
      height: 40px
      background-color: rgb(189, 85, 85)
      border-radius: 100%
    .cpBoxSelectedItemOk
      background-color: rgb(33, 84, 89)
    .closeColorPicker
      position: absolute
      right: -20px
      top: 0
      background-color: #f6f6f6
      padding: 2px 6px
      &:hover
        cursor: pointer
.colorPickerBtn
  text-align: center

@media (max-width:1296px) and (min-width:1197px)
  .cpBoxLibrary
    padding: 0
    max-width: 250px


@media (max-width: 991px)
  .colorPicker
    padding: 0
    @include flexColumn
    .cpBoxSelected
      width: 95%




//////////////////////////////////////
//                                  //
//              LOADER              //
//                                  //
//////////////////////////////////////
.loader
  background: rgba(0, 0, 0, 0.83)
  width: 100%
  height: 100%
  max-height: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 10000
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  -ms-grid-row-align: center
  align-items: center
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  -webkit-box-orient: vertical
  -webkit-box-direction: normal
  -ms-flex-direction: column
  flex-direction: column
  img.loaderLogo
    width: 250px
    max-width: 100%
