// General Styles
*
    margin: 0
    padding: 0
    outline: 0
    word-break: break-all

html

body
    margin-top: 100px
    font-family: $mainfont
    background-color: #5284ad
    background-image: url(../images/body/backgrounds/back3.jpg)
    background-repeat: no-repeat
    background-attachment: fixed
    background-position: center center
    background-size: cover
    padding-top: 45px

@media(min-width:768px)
    body
        margin-top: 50px
    a:link
        text-decoration: none
#wrapper
    padding-left: 0
    top: 80px
    height: 100%

// Ojo el Page Wrapper. Si en unos días no jode nada borrar todo lo relacionado con esa clase

#page-wrapper
    width: 100%
    padding: 0
    margin-top: 80px

@media(min-width:768px)
    #page-wrapper
        min-height: 800px

// Rearrange subtop in XS cels    
@media(max-width:341px)
    #page-wrapper
        padding-top: 50px
        .subtop1
            float: none
            text-align: center
            padding: 5px 0 2px 0
        .subtop2
            float: none
            text-align: center
            padding: 2px 0

@media(max-width:760px)
    #page-wrapper
        padding-top: 60px

@media(max-width:500px)
    #page-wrapper
        padding-top: 0

@media(min-width:768px)
    #wrapper
        padding-left: 225px
    #page-wrapper
        padding: 30px
    #wrapperlogin
        padding-left: 0

a
    color: #fff
    text-decoration: none
    outline: 0
a:hover
    color: #fff
    text-decoration: none

a:hover, a:active, a:focus
    outline: 0

p
    font-family: $mainfont
h1, h2, h3, h4, h5,
    font-family: $mainfont

h5
    font-size: 15px
    font-weight: bold

a:focus, a:hover
    color: $wh
    text-decoration: underline


//////////// Custom Styles /////////////////////////////////////////
.pad0
    padding: 0
.mar0
    margin: 0
.centrarimg
    margin: 0 auto
.centrartxt
    text-align: center
        
.lastcol
    margin-right: 0

.row-centered
    text-align: center       
.col-centered
    display: inline-block
    float: none
    text-align: left
    margin-right: -4px

.centrarbtn
    margin: 0
    Background-color: transparent
    text-align: center
.txtcenter
    text-align: center

.brd
    border: 1px solid red
    
////// Pagination ////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////

.paginat
    text-align: center
    position: fixed
    bottom: 0
    left: 50%
    margin-bottom: -15px

@media(max-width: 768px)
    .paginat
        left: 0
        right: 0


.pagination > li:last-child > a, .pagination > li:last-child > span
    border-radius: 0
.pagination > li:first-child > a, .pagination > li:first-child > span
    border-radius: 0
.pagination > li > a, .pagination > li > span
    background-color: rgba($pagbk, .5)
    border-color: rgba($pagborder, .3)
    color: $pagtxt
    
////////// Windows  ////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////
    
//////// Item Creation Window //////////////////////////////////////

.additemdiv
    max-width: 600px
    background-color: rgba(255,255,255,.4)
    margin-top: 30px
    -webkit-box-shadow: 4px 2px 18px -6px rgba(0,0,0,0.69)
    -moz-box-shadow: 4px 2px 18px -6px rgba(0,0,0,0.69)
    box-shadow: 4px 2px 18px -6px rgba(0,0,0,0.69)
.additemtit
    text-align: center
    padding: 5px 0 10px 0
    margin-top: 5px
    margin-bottom: 30px
.additemtit h3
    color: $additemtit
        
.addprodimgdiv
    padding-top: 30px
.itemimgmain
    padding: 30px 0 20px 0
    
.donediv
    background-color: rgba(255,255,255,.9)
    padding: 25px 0 10px 0
    max-width: 600px
    margin: 0 auto
    text-align: center


// Add Item Button
// .additembtn
//     color: $btnoktxt
//     background-color: $btnok
//     transition: 0.5s
//     margin: 0 15px
//     border-radius: 0
//     transition: all 0.2s ease 0s 
 
// .additembtn:hover, 
// .additembtn:focus, 
// .additembtn:active, 
// .additembtn.active, 
// .open .dropdown-toggle.additembtn
//     color: $wh
//     background-color: $btnokhover
    
// .additembtn:active,
// .additembtn.active,
// .open .dropdown-toggle.additembtn
//     background-image: none 
    
// .btnsave
//     background-color: $modbtn
//     &:hover
//         background-color: $modbtnhover

// Placeholders
.formitems input[type=text],
.formitems input[type=password]
    font-size: 13px
    color: $placeh
    font-weight: 400
    display: block
    width: 100%
    padding: 5px
    margin-bottom: 5px
    -webkit-transition: all 0.3s ease-out
    -moz-transition: all 0.3s ease-out
    -ms-transition: all 0.3s ease-out
    -o-transition: all 0.3s ease-out
    transition: all 0.3s ease-out 
.formitems input[type=text]:hover,
.formitems input[type=password]:hover
    border-color: #fff 
.formitems label:hover ~ input
    border-color: #fff 
.formitems input[type=text]:focus,
.formitems input[type=password]:focus
    border-color: #455568
    outline: none
.formitems textarea
    color: $placeh
    min-height: 100px
    
.formitems select
    background: rgba(255,255,255,.3)
    background-color: rgba(255,255,255,.5)
    color: $blk
    
// Item Img
#itemimg
    display: none

.addimgdiv
    min-height: 100px
    margin-top: 10px
    
.useraddimg
    border-radius: 100%
    width: 150px
    margin: 0 auto
    transition: all 0.2s ease 0s 
    
.useraddimg:hover
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75)
    
.thumbimg
    width: 150px
    margin: 0 auto
    
.thumbimgadd
    width: 60px
    margin: 0 auto
    margin-top: 20px
    cursor: pointer
    
.itemdesctextarea
    padding: 0
    margin: 0
    
//////////////// Contador caracteres  //////////////////////
form .indicator
    display: block
    height: 30px
    width: 0
    background-color: #ccc
    transition: .2s
    -webkit-transition: .2s 

form .indicator span.current-length
    position: absolute
    display: block
    font-weight: bold
    color: #444
    padding: 5px 0 0 10px
    font-size: 14px
 
form .indicator.low
    background-color: rgba(38, 166, 91, .4)
form .indicator.med
    background-color: rgba(38, 166, 91, .5)
form .indicator.high
    background-color: rgba(38, 166, 91, .7)
form .indicator.full
    background-color: rgba(192, 57, 43, .7)
form .indicator.empty
    background-color:  rgba(38, 166, 91, .2)

.remchar
    margin-top: 10px
    
// Active Inactive user button
.userstatustit
    font-size: 18px
    margin-right: 62px
.switchuser
    margin: 10px 0 20px 0

//////////////////// Breadcrums ///////////////////////
//////////////////////////////////////////////////////

.breadcrumb
    padding: 0px
    margin-bottom: 0px
    list-style: none
    background-color: transparent
    border-radius: 0px
    transition: all 0.3s ease-in-out
    a
        color: #000
        &:hover
            color: #404040

// Líneas separadoras
.breadcrumb > li + li::before
    padding: 0 5px
    color: #000
    content: "/\00a0"

.crumactive
    color: red

ol, ul
    margin-top: 0
    margin-bottom: 10px

/////////////////// Filters /////////////////////////
////////////////////////////////////////////////////

#filteritem
    display: none
#filtersuser
    display: none
    
.filterdiv
    width: auto
    max-width: 800opx
    background-color: rgba(0,0,0, .1)
    padding: 0 20px 5px 5px
    text-align: center
    padding-bottom: 15px
    margin-bottom: 30px
    margin: 0 15px
    
.filterformdiv
    margin-left: 10px
    padding-top: 15px
    
.filtertit
    margin-right: 15px
    
.form-controlit
    display: block
    width: 100%
    height: 34px
    padding: 6px 12px
    font-size: 14px
    line-height: 1.42857
    max-width: 250px
    color: #555
    background-color: #FFF
    background-image: none
    border: 1px solid #CCC
    border-radius: 4px
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s
    display: inline 
option
    padding-left: 15px 
option
    padding-left: 15px 

.inputsgral
    padding: 0 5px


///////////////////// Buttons ////////////////////////////
/////////////////////////////////////////////////////////

.masterbtn
    padding: 5px 10px
    margin: 0 auto
    box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5)
    border: none
    -webkit-transition: all 0.5s ease 0s
    transition: all 0.5s ease 0s
    background-color: $mainbtn
    color: $maintbtntxt
a .masterbtn    
    color: $logbtntxt
    &:hover
        box-shadow: 0 0 0
        background-color: $mainbtnhover





///////////// Del y Modify /////////////////
.btndel
    padding: 2px 20px
    max-width: 70px
    font-size: 22px
    border-radius: 0
    border: 0
    background-color: $delbtn
    color: $delbtntxt
    transition: all 0.2s ease 0s 
    &:hover
        background-color: $delbtnhover
        color: $delbtntxthover
    &:focus, &:active
        background-color: $delbtnactfoc
        color: $delbtntxtacfoc
    
.btnmod
    padding: 2px 20px
    max-width: 70px
    font-size: 22px
    border-radius: 0
    border: 0
    background-color: $modbtn
    color: $modbtntxt
    transition: all 0.2s ease 0s
    &:hover
        background-color: $modbtnhover
        color: $modbtntxthover
    &:focus, &:active
        background-color: $modbtnhover
        color: $modbtntxtacfoc


////////////////    GENERIC WINDOWS     //////////////////////////////
/////////////////////////////////////////////////////////////////////

//////////// Main Containers ////////////////////

.glasscontainer1
    width: auto
    background-color: rgba(0,0,0, .1)
    padding: 15px 5px 10px
    text-align: center
    padding-bottom: 15px
    -webkit-transition: all 0.3s ease-out
    -moz-transition: all 0.3s ease-out
    -ms-transition: all 0.3s ease-out
    -o-transition: all 0.3s ease-out
    transition: all 0.3s ease-out 

.textcenter
    text-align: center

.maincontainer
    text-align: center

.filerow
    margin: 5px
    padding-left: 15px
    padding-right: 15px
    &:hover
        cursor: pointer
        background-color: rgba(0,0,0, .2)


////////////// LIST VIEW //////////////////////////////////////////

.listrow
    margin: 5px
    margin-left: 15px
    margin-right: 15px
    padding: 5px 15px
    color: #fff
    text-align: left
    &:hover
        cursor: pointer
        background-color: rgba($mainblue, .2)

.listtit
    background-color: rgba($mainblue, .5)

.titlist1
    border-right: 1px solid rgba($gris, 0.5)
.titlist2
    border-right: 1px solid rgba($gris, 0.5)
.titlist3
    border-right: 1px solid rgba($gris, 0.5)
.titlist4
    border-right: 1px solid rgba($gris, 0.5)
.titlist5
    border-right: 1px solid rgba($gris, 0.5)
.titlist6


