// Main Login
.login
  height: 100%
  width: 100%

.loginbtn.focus, .btn:focus, .btn:hover
  color: #fff

.loginbtn:hover
  background-color: $logbtnhover
  color: #fff
  box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0.7)

.logtitdiv
  background-color: rgba($maintitdiv, .9)
  max-width: 350px
  float: none
  padding: 10px 0 10px 40px
  margin: 0 auto

.loginbtndiv
  margin-top: 20px
  margin-bottom: 20px
.rememberme
  text-align: center
  margin: auto 0

body#login
  background-image: url(../images/body/backgrounds/loginback.jpg)

.main
  width: 100%
  margin: 0 auto
  position: relative
  margin-top: 100px
  overflow: hidden

.logintit
  color: $logtit
  font-size: 18px


.logimg
  max-width: 40px
  margin-right: 15px

.forgotdiv
  float: none
.forgotpass
  text-align: center
  color: $logtxtgen

.forgottit
  text-align: center
  color: #000
.forgotmail
  text-align: center
.forgotemailtoo
  text-align: center
  color: #383838
.forgotsubtit
  font-size: 10px
  text-align: center
  color: #383838

.clearfix:after
  content: ""
  display: table
  clear: both

.log-in
  text-align: center
.logindatos
  margin: 25px 0 0 0
.loguser
  margin-bottom: 30px
  color: $loguserpass
.logpass
  color: $loguserpass
.formulog
  max-width: 350px
  margin: 0px auto 30px
  padding: 15px
  position: relative
  background: rgba($logback, .4)
  color: #fff

.formulog label
  display: block
  padding: 0 0 5px 2px
  text-transform: uppercase
  font-size: 14px

.formulog input
  background-color: transparent
  border: 0
  border-bottom: 1px solid black
  min-height: 50px

// Main loginform icons
.formulog label i
  margin-right: 5px
  display: inline-block
  width: 10px
  color: $logicons
  margin-right: 25px

.fa-unlock:before
  font-size: 16px
  color: $logicons

.dropdown-menu label i
  margin-right: 10px

.formulog input[type=text],
.formulog input[type=password]
  font-size: 13px
  color: #000
  font-weight: 400
  display: block
  width: 100%
  padding: 5px
  margin-bottom: 5px
  -webkit-transition: all 0.3s ease-out
  -moz-transition: all 0.3s ease-out
  -ms-transition: all 0.3s ease-out
  -o-transition: all 0.3s ease-out
  transition: all 0.3s ease-out

.formulog input[type=text]:hover,
.formulog input[type=password]:hover
  border-color: #fff
.formulog label:hover ~ input
  border-color: #fff
.formulog input[type=text]:focus,
.formulog input[type=password]:focus
  border-color: #455568
  outline: none


.rememberme input
  min-height: 1px !important
