.logo-mini img
  max-width: 100%
  width: 30px
.logo-lg img
  max-width: 100%
  width: 150px

/////////////////////////////////////
//                                 //
//           CATEGORIES            //
//                                 //
/////////////////////////////////////


.categoryBoxBody
  min-height: 800px
// ------- First Screen ----//



.productCategory1
  margin-top: 15px
  position: relative
  max-width: 100%
  .arrow-css
    position: absolute
    left: 45%
    // margin-left: -50px
    bottom: -11px
  h4
    text-align: center

.productCategory2
  margin-top: 15px
  border-radius: 5px
  max-width: 100%
  .categoryList
    border: 1px solid rgba(#cccccc, 0.49)
    border-radius: 5px
    padding: 15px
    .categoryTitle
      text-align: center
      margin-bottom: 10px
      span
        font-size: 16px
    ul
      height: 350px
      overflow-x: scroll
      white-space: nowrap
      padding-left: 0
      li
        border: 1px solid #ccc
        display: inline-block
        padding: 15px
        width: 260px
        max-width: 100%
        margin-right: 10px
        margin-top: 0
        -msie-border-radius: 5px
        border-radius: 5px
        white-space: nowrap
        height: 290px
        vertical-align: top
        select
          border: none
          width: 100%
          overflow-y: auto
          vertical-align: top
          height: 250px
          outline: none
        span
          height: 100%
          @include flexColumn
          i
            margin-bottom: 10px
          .fa
            font-size: 35px
            color: #fff
            background-color: $MLGreen
            @include border-radius(100%)
            padding: 5px


/////////////////////////////////////
//                                 //
//           PRODUCS               //
//                                 //
/////////////////////////////////////

.sizes
  margin-top: 15px
  @include flex-center
  table
    margin-top: 15px
    width: 80%
  .sizesActionDelete
    width: 40px
  .fa-trash
    color: red
    &:hover
      color: rgb(217, 164, 164)
      cursor: pointer
  .fa-plus
    color: $Green
    &:hover
      cursor: pointer
      cursor: rgb(26, 224, 111)

.multipleImg
  @include flex-center
  text-align: center
  li
    margin: 5px
    img
      width: 80px
      height: 80px
  li.mainImg
    text-align: center
    img
      width: 110px
      height: 110px


/////////////////////////////////////
//                                 //
//          USER-PROFILE           //
//                                 //
/////////////////////////////////////

.profile-section
  .profile-img
    border-radius: 100%
    margin: 0 auto
    max-width: 100%
  .profile-user-info
    div:first-child
      padding: 20px 2px
      background-color: rgba(238, 238, 238, 0.51)
      @include box-shadowFloor
    h3
      font-weight: 600
      margin-top: 10px
  .profile-user-misc
    margin-top: 10px
    p
      margin-top: 10px
  .profile-titles
    font-size: 16px
    .fa
      color: rgb(66, 66, 66)
      margin-right: 10px
      font-style: 18px
  .profile-bussines-logo img
    max-width: 100%
    width: 250px


/////////////////////////////////////
//                                 //
//            NEW ITEMS            //
//                                 //
/////////////////////////////////////

.main_form
  button
    margin: 10px 0px
  hr
    margin-bottom: 0
  .simple_upload_image
    padding: 15px
    .image_sector
      position: relative
      text-align: center
      .overlay-text
        opacity: 0
        background-color: rgba(32, 32, 32, 0.62)
        border: 10px solid rgba(83, 83, 83, 0.5)
        position: absolute
        left: 0
        top: 0
        height: 100%
        width: 100%
        color: #fff
        @include flex-center
        @include transition(0.2s)
        span
          text-align: center
        &:hover
          cursor: pointer
          opacity: 1
    img
      max-width: 100%
  .fa
    min-width: 14px



@media (max-width: 767px)
  .main_form
    .row
      margin-bottom: 0
    .input-group
      margin-bottom: 15px


.info-card
  button
    margin: 10px 0px
  .info-card-item
    background-color: #f9f4f4
    border-radius: 5px
    padding: 10px
    margin-top: 5px
    margin-bottom: 5px
    position: relative
    @include box-shadowSoft
    .fa
      margin-right: 8px
    .fa-times
      margin-right: 0
  .info-card-empty
  .info-card-data
    width: 100%
    background-color: rgb(246, 246, 246)
  .info-card-form
    position: relative
    border: 1px solid rgb(238, 238, 238)
    padding: 15px 10px 0
    
 

.info-card-arrow
  width: 5px
  .arrow-up
    @include arrowUp(10px,10px,10px,rgb(230, 230, 230))
