// Users Admin


@media(max-width:250px)
    h3.usertittxt
        font-size: 16px


// Caja de usuarios

.usergral
    max-width: 220px
    margin: 10px 10px
    padding-top: 20px
    transition: .5s
    -webkit-transition: .5s
    -moz-transition: .5s
    -o-transition: .5s
    -ms-transition: .5s
    &:hover
        background-color: rgba($itemfilediv, .3)
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175)
        box-shadow: 0 6px 12px rgba(0,0,0,.175)
    &:hover div
        visibility: visible

@media(max-width:250px)
    .usergral
        margin: 5px 0
        padding: 0

.userimg
    border-radius: 100%
    max-width: 180px
    cursor: pointer
    margin: 0 auto
    box-shadow: 10px 10px 21px -14px rgba(0,0,0,0.75)

@media(max-width:250px)
    .usergral
        padding: 5px 5px

.usernamediv
    margin-top: 10px
    padding: 10px 0
    text-align: center
    height: 60px

a .usernamediv
    color: #000
    text-decoration: none
    list-style: none


a .usernamediv:hover
    text-decoration: none !important

.usernametxt
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.66)
    font-weight: bold 

p .addusertxt
    color: #606060
p .addusertxt:hover
    color: #000

 
/////////////////// User File View /////////////////

.userimgfile
    border-radius: 100%
    max-width: 80px
    cursor: pointer

.filerowuser
    margin: 5px
    margin-left: 15px
    margin-right: 15px
    padding-left: 15px
    padding-right: 15px
    color: #fff
    text-align: left
    &:hover
        cursor: pointer
        background-color: rgba(0,0,0, .4)


/////////////// Iconos Combinados Fila o Caja //////////

.usericosfile,.usericos
    ul
        list-style-type: none
        text-align: center
        transition: .5s
        li
            display: inline
            text-align: center
            margin: 0 5px
            transition: .5s

.usericos
    visibility: hidden

.usericosfile
    margin-top: 20px


////////////// Buttons  //////////////////////////////

.userbtn
    margin: 20px 5px
    height: 40px
    border-radius: 0
    -webkit-transition: all 0.5s ease 0s
    transition: all 0.5s ease 0s 
.userbtnedit
    margin: 20px 5px
    height: 40px
    border-radius: 0
    -webkit-transition: all 0.5s ease 0s
    transition: all 0.5s ease 0s 
.userbtn:hover
    background-color: #d9534f
    color: #fff 
.userbtnedit:hover
    background-color: #2f435b
    color: #fff 


.adduserdiv
    max-width: 400px
    padding-bottom: 20px
    padding-top: 20px
    margin: 0 auto
    margin-top: 20px
    margin-bottom: 20px
.useradd
    -webkit-transition: all 0.5s ease 0s
    transition: all 0.5s ease 0s  
.useradd:hover
    -webkit-box-shadow: 10px 10px 21px -14px rgba(0,0,0,0.75)
    -moz-box-shadow: 10px 10px 21px -14px rgba(0,0,0,0.75)
    box-shadow: 10px 10px 21px -14px rgba(0,0,0,0.75) 




//#hover-content
//    display: none 
//#hover-me:hover #hover-content
//    display: block 