// Users Admin

@media(max-width:250px)
    h3.usertittxt
        font-size: 16px

.delselectedusers
    padding: 5px 20px
    margin: 0 auto
    margin: 0 15px
    box-shadow: 0 8px 10px -10px rgba(0, 0, 0, 0.5)
    border: none
    -webkit-transition: all 0.5s ease 0s
    transition: all 0.5s ease 0s
    background-color: $mainred
    color: $maintbtntxt
    cursor: pointer
    &:hover
        box-shadow: 0 0 0
        background-color: $mainredhover



// Caja de usuarios

.usergral
    max-width: 220px
    margin: 10px 10px
    padding-top: 20px
    transition: .5s
    -webkit-transition: .5s
    -moz-transition: .5s
    -o-transition: .5s
    -ms-transition: .5s
    // &:hover
    //     background-color: rgba($itemfilediv, .3)
    //     -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175)
    //     box-shadow: 0 6px 12px rgba(0,0,0,.175)

.usergralhover
    background-color: rgba($itemfilediv, .3)
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175)
    box-shadow: 0 6px 12px rgba(0,0,0,.175)

.usergralhoverout
    background-color: transparent
    box-shadow: none

@media(max-width:250px)
    .usergral
        margin: 5px 0
        padding: 0

.userimg
    border-radius: 100%
    max-width: 130px
    cursor: pointer
    margin: 0 auto
    box-shadow: 10px 10px 21px -14px rgba(0,0,0,0.75)

@media(max-width:250px)
    .usergral
        padding: 5px 5px

.usernamediv
    margin-top: 10px
    padding: 10px 0
    text-align: center
    height: 60px

a .usernamediv
    color: #000
    text-decoration: none
    list-style: none


a .usernamediv:hover
    text-decoration: none !important

.usernametxt
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.66)
    font-weight: bold
.usernametxt2
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.66)

p .addusertxt
    color: #606060
p .addusertxt:hover
    color: rgba($gris, 0.5)

 
/////////////////// User List View /////////////////
.listrow
    display: flex

.userimglist
    border-radius: 100%
    max-width: 50px
    padding: 0
    cursor: pointer

.col1listus
    border-right: 1px solid rgba($gris, 0.5)
.col2listus
    border-right: 1px solid rgba($gris, 0.5)
    padding-top: 15px
.col3listus
    border-right: 1px solid rgba($gris, 0.5)
    padding-top: 15px
.col4listus
    border-right: 1px solid rgba($gris, 0.5)
    padding-top: 15px
.col5listus
    border-right: 1px solid rgba($gris, 0.5)
    padding-top: 15px
.col6listus
    padding-top: 10px

/////////  List View Responsivity /////
@media(max-width:1200px)
    .userimglist
        max-width: 50px
    .col2listus
        text-align: center
        float: right
    .col3listus
        text-align: center
    .col4listus
        text-align: center
        float: right
    .col5listus
        text-align: center
        float: left
    .col6listus
        text-align: center

/////////////// Iconos Combinados Fila o Caja //////////

.usericoslist,.usericos
    ul
        list-style-type: none
        text-align: center
        transition: .5s
        li
            display: inline
            text-align: center
            margin: 0 5px
            transition: .5s

.visible
    visibility: visible

.usericoslist
    margin-top: 0

////////////// Buttons  //////////////////////////////

.userbtn
    margin: 20px 5px
    height: 40px
    border-radius: 0
    -webkit-transition: all 0.5s ease 0s
    transition: all 0.5s ease 0s 
.userbtnedit
    margin: 20px 5px
    height: 40px
    border-radius: 0
    -webkit-transition: all 0.5s ease 0s
    transition: all 0.5s ease 0s 
.userbtn:hover
    background-color: #d9534f
    color: #fff 
.userbtnedit:hover
    background-color: #2f435b
    color: #fff 

.optionusersdiv
    max-width: 1200px
    padding-bottom: 20px
    padding-top: 20px
    margin: 0 auto
    margin-top: 20px
    margin-bottom: 20px
.useradd
    -webkit-transition: all 0.5s ease 0s
    transition: all 0.5s ease 0s  
.useradd:hover
    -webkit-box-shadow: 10px 10px 21px -14px rgba(0,0,0,0.75)
    -moz-box-shadow: 10px 10px 21px -14px rgba(0,0,0,0.75)
    box-shadow: 10px 10px 21px -14px rgba(0,0,0,0.75) 